@model System.Data.DataTable
@using System.Data;
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global

@if (Model != null && Model.Rows.Count > 0)
{
    for (int i = 0; i < Model.Rows.Count; i++)
    {
        var row = Model.Rows[i];
        <tr>
            <td class="text-center"> @row["CODIGOBANC"]  </td>
            <td class="text-center"> @row["CODIGOEMPR"]   </td>
            <td class="text-center"> @row["CODIGOCONV"]   </td>
            <td class="text-center"> @row["TIPOREGIST"]   </td>
            <td class="text-center"> @row["IDENTIFICA"]   </td>
            <td class="text-center"> @row["CEDULA"]  	  </td>
            <td class="text-center"> @row["NOMBRE"]  	  </td>
            <td class="text-center"> @row["CODIGOMONE"]   </td>
            <td class="text-center"> @row["CEDULA"]        </td>
            <td class="text-center"> @row["PERIODOREC"]   </td>
            <td class="text-center"> @row["FECHA_VENC"]   </td>
            <td class="text-center"> @row["FECHA_RECA"]   </td>
            <td class="text-center"> @row["MONTO_RECI"]   </td>
            <td class="text-center"> @row["MONTO_COMI"]   </td>
            <td class="text-center"> @row["MONTO_INT"]    </td>
            <td class="text-center"> @row["MONTO_MORA"]   </td>
            <td class="text-center"> @row["NUMER_RECI"]   </td>
            <td class="text-center"> @row["SELF_VERIF"]   </td>
            <td class="text-center"> @row["CANT_RUBRO"]   </td>
            <td class="text-center"> @row["COD_RUBR01"]   </td>
            <td class="text-center"> @row["MON_RUBR01"]  </td>
            <td class="text-center"> @row["PER_RUBR01"]  </td>
            <td class="text-center"> @row["DES_RUBR01"]  </td>
            <td class="text-center"> @row["COD_RUBR02"]  </td>
            <td class="text-center"> @row["MON_RUBR02"]  </td>
            <td class="text-center"> @row["PER_RUBR02"]  </td>
            <td class="text-center"> @row["DES_RUBR02"]  </td>
            <td class="text-center"> @row["COD_RUBR03"]  </td>
            <td class="text-center"> @row["MON_RUBR03"]  </td>
            <td class="text-center"> @row["PER_RUBR03"]  </td>
            <td class="text-center"> @row["DES_RUBR03"]  </td>
            <td class="text-center"> @row["COD_RUBR04"]  </td>
            <td class="text-center"> @row["MON_RUBR04"]  </td>
            <td class="text-center"> @row["PER_RUBR04"]  </td>
            <td class="text-center"> @row["DES_RUBR04"]  </td>
            <td class="text-center"> @row["COD_RUBR05"]  </td>
            <td class="text-center"> @row["MON_RUBR05"]  </td>
            <td class="text-center"> @row["PER_RUBR05"]  </td>
            <td class="text-center"> @row["DES_RUBR05"]  </td>
            <td class="text-center"> @row["COD_RUBR06"]  </td>
            <td class="text-center"> @row["MON_RUBR06"]  </td>
            <td class="text-center"> @row["PER_RUBR06"]  </td>
            <td class="text-center"> @row["DES_RUBR06"]  </td>
            <td class="text-center"> @row["COD_RUBR07"]  </td>
            <td class="text-center"> @row["MON_RUBR07"]  </td>
            <td class="text-center"> @row["PER_RUBR07"]  </td>
            <td class="text-center"> @row["DES_RUBR07"]  </td>
            <td class="text-center"> @row["COD_RUBR08"]  </td>
            <td class="text-center"> @row["MON_RUBR08"]  </td>
            <td class="text-center"> @row["PER_RUBR08"]  </td>
            <td class="text-center"> @row["DES_RUBR08"]  </td>
            <td class="text-center"> @row["COD_RUBR09"]  </td>
            <td class="text-center"> @row["MON_RUBR09"]  </td>
            <td class="text-center"> @row["PER_RUBR09"]  </td>
            <td class="text-center"> @row["DES_RUBR09"]  </td>
            <td class="text-center"> @row["COD_RUBR10"]  </td>
            <td class="text-center"> @row["MON_RUBR10"]  </td>
            <td class="text-center"> @row["PER_RUBR10"]  </td>
            <td class="text-center"> @row["DES_RUBR10"]  </td>
            <td class="text-center"> @row["COD_RUBR11"]  </td>
            <td class="text-center"> @row["MON_RUBR11"]  </td>
            <td class="text-center"> @row["PER_RUBR11"]  </td>
            <td class="text-center"> @row["DES_RUBR11"]  </td>
            <td class="text-center"> @row["COD_RUBR12"]  </td>
            <td class="text-center"> @row["MON_RUBR12"]  </td>
            <td class="text-center"> @row["PER_RUBR12"]  </td>
            <td class="text-center"> @row["DES_RUBR12"]  </td>
            <td class="text-center"> @row["COD_RUBR13"]  </td>
            <td class="text-center"> @row["MON_RUBR13"]  </td>
            <td class="text-center"> @row["PER_RUBR13"]  </td>
            <td class="text-center"> @row["DES_RUBR13"]  </td>
            <td class="text-center"> @row["COD_RUBR14"]  </td>
            <td class="text-center"> @row["MON_RUBR14"]  </td>
            <td class="text-center"> @row["PER_RUBR14"]  </td>
            <td class="text-center"> @row["DES_RUBR14"]  </td>
            <td class="text-center"> @row["COD_RUBR15"]  </td>
            <td class="text-center"> @row["MON_RUBR15"]  </td>
            <td class="text-center"> @row["PER_RUBR15"]  </td>
            <td class="text-center"> @row["DES_RUBR15"]  </td>
            <td class="text-center"> @row["COD_RUBR16"]  </td>
            <td class="text-center"> @row["MON_RUBR16"]  </td>
            <td class="text-center"> @row["PER_RUBR16"]  </td>
            <td class="text-center"> @row["DES_RUBR16"]  </td>
            <td class="text-center"> @row["COD_RUBR17"]  </td>
            <td class="text-center"> @row["MON_RUBR17"]  </td>
            <td class="text-center"> @row["PER_RUBR17"]  </td>
            <td class="text-center"> @row["DES_RUBR17"]  </td>
            <td class="text-center"> @row["COD_RUBR18"]  </td>
            <td class="text-center"> @row["MON_RUBR18"]  </td>
            <td class="text-center"> @row["PER_RUBR18"]  </td>
            <td class="text-center"> @row["DES_RUBR18"]  </td>
            <td class="text-center"> @row["COD_RUBR19"]  </td>
            <td class="text-center"> @row["MON_RUBR19"]  </td>
            <td class="text-center"> @row["PER_RUBR19"]  </td>
            <td class="text-center"> @row["DES_RUBR19"]  </td>
            <td class="text-center"> @row["COD_RUBR20"]  </td>
            <td class="text-center"> @row["MON_RUBR20"]  </td>
            <td class="text-center"> @row["PER_RUBR20"]  </td>
            <td class="text-center"> @row["DES_RUBR20"]  </td>
            <td class="text-center"> @row["COD_RUBR21"]  </td>
            <td class="text-center"> @row["MON_RUBR21"]  </td>
            <td class="text-center"> @row["PER_RUBR21"]  </td>
            <td class="text-center"> @row["DES_RUBR21"]  </td>
            <td class="text-center"> @row["COD_RUBR22"]  </td>
            <td class="text-center"> @row["MON_RUBR22"]  </td>
            <td class="text-center"> @row["PER_RUBR22"]  </td>
            <td class="text-center"> @row["DES_RUBR22"]  </td>
            <td class="text-center"> @row["COD_RUBR23"]  </td>
            <td class="text-center"> @row["MON_RUBR23"]  </td>
            <td class="text-center"> @row["PER_RUBR23"]  </td>
            <td class="text-center"> @row["DES_RUBR23"]  </td>
            <td class="text-center"> @row["COD_RUBR24"]  </td>
            <td class="text-center"> @row["MON_RUBR24"]  </td>
            <td class="text-center"> @row["PER_RUBR24"]  </td>
            <td class="text-center"> @row["DES_RUBR24"]  </td>
            <td class="text-center"> @row["COD_RUBR25"]  </td>
            <td class="text-center"> @row["MON_RUBR25"]  </td>
            <td class="text-center"> @row["PER_RUBR25"]  </td>
            <td class="text-center"> @row["DES_RUBR25"]  </td>
            <td class="text-center"> @row["COD_RUBR26"]  </td>
            <td class="text-center"> @row["MON_RUBR26"]  </td>
            <td class="text-center"> @row["PER_RUBR26"]  </td>
            <td class="text-center"> @row["DES_RUBR26"]  </td>
            <td class="text-center"> @row["COD_RUBR27"]  </td>
            <td class="text-center"> @row["MON_RUBR27"]  </td>
            <td class="text-center"> @row["PER_RUBR27"]  </td>
            <td class="text-center"> @row["DES_RUBR27"]  </td>
            <td class="text-center"> @row["COD_RUBR28"]  </td>
            <td class="text-center"> @row["MON_RUBR28"]  </td>
            <td class="text-center"> @row["PER_RUBR28"]  </td>
            <td class="text-center"> @row["DES_RUBR28"]  </td>
            <td class="text-center"> @row["COD_RUBR29"]  </td>
            <td class="text-center"> @row["MON_RUBR29"]  </td>
            <td class="text-center"> @row["PER_RUBR29"]  </td>
            <td class="text-center"> @row["DES_RUBR29"]  </td>
            <td class="text-center"> @row["COD_RUBR30"]  </td>
            <td class="text-center"> @row["MON_RUBR30"]  </td>
            <td class="text-center"> @row["PER_RUBR30"]  </td>
            <td class="text-center"> @row["DES_RUBR30"]  </td>
        </tr>
    }
}