@model List<ArtSolutions.MUN.Web.Areas.Accounts.Models.AccountServiceCollectionDetailModel>
@using ArtSolutions.MUN.Web.Areas.Accounts.Models
@using ArtSolutions.MUN.Web.Helpers
@using LocalResource = ArtSolutions.MUN.Web.Resources.AccountService
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global
@using AccountPaymentPlanResource = ArtSolutions.MUN.Web.Resources.AccountPaymentPlan

@using HtmlHelpers.BeginCollectionItem;

@{
    var actionTypeID = ViewBag.ActionType;
    var LastServiceType = Model.Select(d => d.ServiceType).Distinct().LastOrDefault();
    bool IsReadOnly = false;
    int ServiceID = 0;
    string ServiceName = "";
}

<div class="col-lg-12">
    @if (Model.Count() > 0)
    {
        int count = 1;

        foreach (var objServiceType in Model.Select(d => d.ServiceType).Distinct().ToList())
        {
            <div class="ibox-title no-top-border" style="min-height:30px !important">
                <h5>
                    @objServiceType
                </h5>
            </div>
            <div class="ibox-content no-padding-top no-padding-bottom">
                <div class="row">
                    <div class="table-responsive m-t divAccountPaymentPlan">
                        @{
                            var tableID = "accountPaymentPlanTable" + count;
                        }

                        <table class="table table-multi-row @tableID" id="@tableID">
                            <thead>
                                <tr>
                                    @if (actionTypeID == 1)
                                    {
                                        <th class="col-lg-1 text-center" data-netclosing="@Model.Where(d => d.ServiceType == objServiceType).Sum(d=>d.Total)" data-accountserviceid="@string.Join(",",Model.Where(d => d.ServiceType == objServiceType).Select(d=>d.AccountServiceID))" data-accountservicecollectionids="@string.Join(",",Model.Where(d => d.ServiceType == objServiceType).Select(d=>d.ID))" data-sort-ignore="true">
                                            <input type="checkbox" @Html.Raw(Model.Count() > 0 && Model.Where(d => d.ServiceType == objServiceType && d.SelectedItem == false).Count() > 0 ? "" : "checked ='checked'") tabindex="6" id="SelectedItemAll" name="SelectedItemAll" class="chkAll" />
                                        </th>
                                    }
                                    <th class="col-lg-4">@GlobalResource.ServiceName</th>
                                    <th class="col-lg-1 text-right">
                                        @GlobalResource.Principal
                                    </th>
                                    <th class="col-lg-1 text-right">
                                        @AccountPaymentPlanResource.Interest
                                    </th>
                                    <th class="col-lg-1 text-right">
                                        @LocalResource.Debt
                                    </th>
                                    <th class="col-lg-1 text-right">
                                        @LocalResource.Exemption
                                    </th>
                                    <th class="col-lg-2 text-right">
                                        @GlobalResource.PaidAmount
                                    </th>
                                    <th class="col-lg-2 text-right">
                                        @GlobalResource.Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbAccountServiceCollectionDetail">

                                @if (Model.Count() > 0)
                                {
                                    foreach (var objitem in Model.Where(d => d.ServiceType == objServiceType).OrderBy(d => d.ServiceName).Select(d => d.ServiceNameWithSegrega).Distinct().ToList())
                                    {
                                        {
                                            ServiceName = "";
                                        }
                                        foreach (var item in Model.Where(d => d.ServiceType == objServiceType && d.ServiceNameWithSegrega == objitem).OrderBy(d => d.FiscalYearID).ThenBy(d => d.AccountServiceID).ThenBy(d => d.ID).ToList())
                                        {
                                            <tr id="@item.AccountServiceID">
                                                @using (Html.BeginCollectionItem("AccountServiceCollectionDetailList"))
                                                {

                                                    if (item.SelectedItem == false)
                                                    {
                                                        if (item.ServiceID == ServiceID && item.ServiceNameWithSegrega == ServiceName)
                                                        {
                                                            IsReadOnly = true;
                                                        }
                                                        else
                                                        {
                                                            ServiceID = item.ServiceID;
                                                            ServiceName = item.ServiceNameWithSegrega;
                                                            IsReadOnly = false;
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (item.ServiceID == ServiceID && item.ServiceNameWithSegrega == ServiceName)
                                                        {
                                                            item.SelectedItem = false;
                                                            IsReadOnly = true;
                                                        }
                                                        else
                                                        {
                                                            IsReadOnly = false;
                                                        }
                                                    }

                                                    if (actionTypeID == 1)
                                                    {
                                                        <td class="text-center border-left">
                                                            @if (IsReadOnly)
                                                            {
                                                                @Html.CheckBox("SelectedItem", item.SelectedItem,
                                                                                                                  new
                                                                                                                  {
                                                                                                                      @onclick = "GetTotalDebtForSelectedItems(this);",
                                                                                                                      dataAccountServiceID = item.AccountServiceID,
                                                                                                                      @dataAccountServiceCollectionDetailIDs = @item.AccountServiceCollectionDetailIDs,
                                                                                                                      @dataTotal = @item.Total.Value,
                                                                                                                      @dataTotalPrincipal = @item.Principal,
                                                                                                                      @dataTotalPenalties = @item.Penalties,
                                                                                                                      @dataDebtTotal = @item.Debt,
                                                                                                                      @dataDiscountTotal = @item.Discount,
                                                                                                                      @dataTotalPaidAmount = @item.PaidAmount,
                                                                                                                      @dataserviceCollectionDetailID = item.ID,
                                                                                                                      @tabindex = "7",
                                                                                                                      @class = "chkSelectedItem collectionItem",
                                                                                                                      @disabled = "disabled"
                                                                                                                  })
                                                            }
                                                            else
                                                            {
                                                                @Html.CheckBox("SelectedItem", item.SelectedItem,
                                                                                                                 new
                                                                                                                 {
                                                                                                                     @onclick = "GetTotalDebtForSelectedItems(this);",
                                                                                                                     dataAccountServiceID = item.AccountServiceID,
                                                                                                                     @dataAccountServiceCollectionDetailIDs = @item.AccountServiceCollectionDetailIDs,
                                                                                                                     @dataTotal = @item.Total.Value,
                                                                                                                     @dataTotalPrincipal = @item.Principal,
                                                                                                                     @dataTotalPenalties = @item.Penalties,
                                                                                                                     @dataDebtTotal = @item.Debt,
                                                                                                                     @dataDiscountTotal = @item.Discount,
                                                                                                                     @dataTotalPaidAmount = @item.PaidAmount,
                                                                                                                     @dataserviceCollectionDetailID = item.ID,
                                                                                                                     @tabindex = "7",
                                                                                                                     @class = "chkSelectedItem collectionItem"
                                                                                                                 })
                                                            }
                                                        </td>

                                                    }

                                                    <td class="@(actionTypeID>1 ? "border-left" : "")">

                                                        @Html.Raw(
                                                          (string.IsNullOrEmpty(item.AccountServiceName) ? item.ServiceName : item.AccountServiceName)
                                                          +
                                                          (
                                                          item.ServiceID >= 9 && item.ServiceID <= 13
                                                          ? "<br />" + LocalResource.PreviousMeasure + ": " +
                                                          (item.PreviousMeasure.HasValue ? item.PreviousMeasure.Value.ToString(Common.DecimalPoints) : null)
                                                          + " - " + LocalResource.ActualMeasure + ": " +
                                                          (item.ActualMeasure.HasValue ? item.ActualMeasure.Value.ToString(Common.DecimalPoints) : null)
                                                          + " - " + LocalResource.WaterConsumption + ": " +
                                                          (item.WaterConsumption.HasValue ? item.WaterConsumption.Value.ToString(Common.DecimalPoints) : null)
                                                          : ""
                                                          )
                                                        )

                                                    </td>
                                                    <td class="text-right">
                                                        @item.Principal.ToString("c")
                                                    </td>
                                                    <td class="text-right">
                                                        @item.Penalties.ToString("c")
                                                    </td>
                                                    <td class="text-right">
                                                        @item.Debt.ToString("c")
                                                    </td>
                                                    <td class="text-right">
                                                        @if (item.Discount != null)
                                                        {
                                                            @item.Discount.Value.ToString("c")
                                                        }
                                                    </td>
                                                    <td class="text-right">
                                                        @item.PaidAmount.Value.ToString("c")
                                                    </td>
                                                    <td class="text-right border-right">
                                                        @item.Total.Value.ToString("c")
                                                    </td>
                                                    @*@Html.Hidden("AmnestyAmount", item.AmnestyAmount)*@
                                                }
                                            </tr>
                                        }
                                    }
                                }
                                else
                                {
                                    if (actionTypeID == 1)
                                    {
                                        <tr>
                                            <td colspan="8" class="text-center">@GlobalResource.NoDataMessage</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7" class="text-center">@GlobalResource.NoDataMessage</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                            <tfoot>
                                @{
                                    var totalFull = actionTypeID == 1 ? Model.Sum(x => x.Total).Value : Model.Sum(x => x.Total).Value;
                                    var total = actionTypeID == 1 ? Model.Where(d => d.SelectedItem == true && d.ServiceType == objServiceType).Sum(x => x.Total).Value : Model.Where(d => d.ServiceType == objServiceType).Sum(x => x.Total).Value;
                                    var colspanGrandTotal = actionTypeID == 1 ? "6" : "5";
                                    decimal Principal = 0, Penalties = 0, Amnesty = 0, Debt = 0, PaidAmount = 0, Charges = 0, Interest = 0;
                                }

                                @if (actionTypeID == 1)
                                {
                                    <tr class="totalRow">
                                        @{
                                            var zeroValue = 0.0;
                                        }

                                        @if (actionTypeID == 1)
                                        {
                                            <td colspan="1"></td>
                                        }

                                        <td class="text-right">
                                            <strong>
                                                @GlobalResource.Total :
                                            </strong>
                                        </td>
                                        <td class="text-right">
                                            <span class="sumPrincipal">
                                                <strong>
                                                    @zeroValue.ToString("C")
                                                </strong>
                                            </span>
                                        </td>
                                        <td class="text-right">
                                            <span class="sumPenalties">
                                                <strong>
                                                    @zeroValue.ToString("C")
                                                </strong>
                                            </span>
                                        </td>
                                        <td class="text-right">
                                            <span class="sumDebt">
                                                <strong>
                                                    @zeroValue.ToString("C")
                                                </strong>
                                            </span>
                                        </td>
                                        <td class="text-right">
                                            <span class="sumDiscount">
                                                <strong>
                                                    @zeroValue.ToString("C")
                                                </strong>
                                            </span>
                                        </td>
                                        <td class="text-right">
                                            <span class="sumPaidAmount">
                                                <strong>
                                                    @zeroValue.ToString("C")
                                                </strong>
                                            </span>
                                        </td>
                                        <td class="text-right">
                                            <span id="spnNetPayment" class="spnFooterAmount sumTotal">
                                                @zeroValue.ToString("C")
                                            </span>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td class="text-right">
                                            <strong>
                                                @GlobalResource.Total :
                                            </strong>
                                        </td>
                                        <td class="text-right">
                                            <strong>
                                                @Model.Where(d => d.ServiceType == objServiceType).Sum(x => x.Principal).ToString("C")
                                            </strong>
                                        </td>
                                        <td class="text-right">
                                            <strong>
                                                @Model.Where(d => d.ServiceType == objServiceType).Sum(x => x.Penalties).ToString("C")
                                            </strong>
                                        </td>
                                        <td class="text-right">
                                            <strong>
                                                @Model.Where(d => d.ServiceType == objServiceType).Sum(x => x.Debt).ToString("C")
                                            </strong>
                                        </td>
                                        <td class="text-right">
                                            <strong>
                                                @Model.Where(d => d.ServiceType == objServiceType).Sum(x => x.Discount).Value.ToString("C")
                                            </strong>
                                        </td>
                                        <td class="text-right">
                                            <strong>
                                                @Model.Where(d => d.ServiceType == objServiceType).Sum(x => x.PaidAmount).Value.ToString("C")
                                            </strong>
                                        </td>
                                        <td class="text-right">
                                            <span id="spnNetPayment" class="spnFooterAmount">
                                                @Model.Where(d => d.ServiceType == objServiceType).Sum(x => x.Total).Value.ToString("C")
                                            </span>
                                        </td>
                                    </tr>
                                }

                                @if (objServiceType == LastServiceType)
                                {
                                    {
                                        total = actionTypeID == 1 ? Model.Where(d => d.SelectedItem == true).Sum(x => x.Total).Value : Model.Sum(x => x.Total).Value;
                                        Principal = actionTypeID == 1 ? Model.Where(d => d.SelectedItem == true).Sum(x => x.Principal) : Model.Sum(x => x.Principal);
                                        Penalties = actionTypeID == 1 ? Model.Where(d => d.SelectedItem == true).Sum(x => x.Penalties) : Model.Sum(x => x.Penalties);
                                        Amnesty = actionTypeID == 1 ? Model.Where(d => d.SelectedItem == true).Sum(x => x.AmnestyAmount) : Model.Sum(x => x.AmnestyAmount);
                                        Charges = actionTypeID == 1 ? Model.Where(d => d.SelectedItem == true).Sum(x => x.Charges) : Model.Sum(x => x.Charges);
                                        Interest = actionTypeID == 1 ? Model.Where(d => d.SelectedItem == true).Sum(x => x.Interest) : Model.Sum(x => x.Interest);
                                        Debt = actionTypeID == 1 ? Model.Where(d => d.SelectedItem == true).Sum(x => x.Debt) : Model.Sum(x => x.Debt);
                                        PaidAmount = actionTypeID == 1 ? Model.Where(d => d.SelectedItem == true).Sum(x => x.PaidAmount).Value : Model.Sum(x => x.PaidAmount).Value;

                                    }
                                    <tr>
                                        <td colspan=@colspanGrandTotal></td>
                                        <td class="text-right"><strong>@GlobalResource.SubTotal : </strong></td>
                                        <td class="text-right">
                                            <span id="spnNetPayment" class="spnFooterAmount">@Principal.ToString("c")</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan=@colspanGrandTotal></td>
                                        <td class="text-right"><strong>@GlobalResource.Interest : </strong></td>
                                        <td class="text-right">
                                            <span id="spnNetPayment" class="spnFooterAmount">@Penalties.ToString("c")</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan=@colspanGrandTotal></td>
                                        <td class="text-right"><strong>@GlobalResource.Amnesty : </strong></td>
                                        <td class="text-right">
                                            <span id="spnNetPayment" class="spnFooterAmount">@Amnesty.ToString("c")</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan=@colspanGrandTotal></td>
                                        <td class="text-right"><strong>@GlobalResource.IVA : </strong></td>
                                        <td class="text-right">
                                            <span id="spnNetPayment" class="spnFooterAmount">@Charges.ToString("c")</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan=@colspanGrandTotal></td>
                                        <td class="text-right"><strong>@GlobalResource.Penalties : </strong></td>
                                        <td class="text-right">
                                            <span id="spnNetPayment" class="spnFooterAmount">@Interest.ToString("c")</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan=@colspanGrandTotal></td>
                                        <td class="text-right"><strong>@GlobalResource.Total : </strong></td>
                                        <td class="text-right">
                                            <span id="spnNetPayment" class="spnFooterAmount">@total.ToString("c")</span>
                                        </td>
                                    </tr>
                                }
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            count = count + 1;
        }
        @Html.Hidden("selectedItemstotalDebt", Model.Where(d => d.SelectedItem == true).Sum(x => x.Total).Value)
        @Html.Hidden("AccountServiceCollectionDetailIDs", string.Join(",", Model.Where(d => d.SelectedItem == true).Select(d => d.ID)))
        @Html.Hidden("AccountServiceIDs", string.Join(",", Model.Where(d => d.SelectedItem == true).Select(d => d.AccountServiceID)))
        @*@Html.Hidden("selectedItemstotalAmnestyAmount", Model.Where(d => d.SelectedItem == true).Sum(x => x.AmnestyAmount))*@
    }
    else
    {
        <div class="row">
            <div class="table-responsive m-t project-list">
                <table class="table table-multi-row">
                    <thead>
                        <tr>
                            @if (actionTypeID == 1)
                            {
                                <th class="col-lg-1 text-center" data-sort-ignore="true">
                                    @Html.CheckBox("SelectedItemAll", false, new { onclick = "onItemSelectAll(this)", tabindex = "6" })

                                </th>
                            }
                            <th class="col-lg-4">@GlobalResource.ServiceName</th>
                            <th class="col-lg-1 text-right">
                                @GlobalResource.Principal
                            </th>
                            <th class="col-lg-1 text-right">
                                @AccountPaymentPlanResource.Interest
                            </th>
                            <th class="col-lg-1 text-right">
                                @LocalResource.Debt
                            </th>
                            <th class="col-lg-1 text-right">
                                @LocalResource.Exemption
                            </th>
                            <th class="col-lg-2 text-right">
                                @GlobalResource.PaidAmount
                            </th>
                            <th class="col-md-2 text-right">
                                @GlobalResource.Total
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbAccountServiceCollectionDetail">

                        @if (actionTypeID == 1)
                        {
                            <tr>
                                <td colspan="8" class="text-center">@GlobalResource.NoDataMessage</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td colspan="7" class="text-center">@GlobalResource.NoDataMessage</td>
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        @{
                            var total = 0;
                            var colspan = actionTypeID == 1 ? "6" : "5";
                        }
                        <tr>
                            <td colspan=@colspan></td>
                            <td class="text-right"><strong>@GlobalResource.Total : </strong></td>
                            <td class="text-right">
                                <span id="spnNetPayment" class="spnFooterAmount">@total.ToString("c")</span>
                            </td>
                        </tr>

                    </tfoot>
                </table>
            </div>
        </div>
    }
</div>