@model ArtSolutions.MUN.Web.Areas.Reports.Models.MigrationValidationCobrosModel

@if (Model.MigrationValidationCobrosList != null && Model.MigrationValidationCobrosList.Count() > 0)
{
    foreach (var item in Model.MigrationValidationCobrosList)
    {
        <tr>
            <td class="text-center">
                @if (item.AccountID == null)
                {
                    @item.Cedula
                }
                else
                {
                    <a href='@Url.Content("~/Account/View?accountID=" + item.AccountID + "&accountType=" + item.AccountTypeID)'
                       class="text-underline" target="_blank">
                        @item.Cedula
                    </a>
                }
            </td>
            <td class="text-center">@item.CustomField1</td>
            <td class="text-center">@item.ServiceName</td>
            <td class="text-center">
                @Html.Raw(item.Rule == null ? " - " : item.Rule.Value.ToString())
            </td>
            <td class="text-center">
                @Html.Raw(item.SIM == null ? " - " : item.SIM.Value.ToString())
            </td>
            @*<td class="text-center">
                @Html.Raw(item.PastYearRule == null ? " - " : item.PastYearRule.Value.ToString())
            </td>
            <td class="text-center">
                @Html.Raw(item.PastYearSIM == null ? " - " : item.PastYearSIM.Value.ToString())
            </td>*@
            <td class="text-center">
                @Html.Raw(item.RuleAmount == null ? " - " : item.RuleAmount.Value.ToString("C"))
            </td>
            <td class="text-center">
                @Html.Raw(item.SIMAmount == null ? " - " : item.SIMAmount.Value.ToString("C"))
            </td>
            @*<td class="text-center">
                @Html.Raw(item.PastYearRuleAmount == null ? " - " : item.PastYearRuleAmount.Value.ToString("C"))
            </td>
            <td class="text-center">
                @Html.Raw(item.PastYearSIMAmount == null ? " - " : item.PastYearSIMAmount.Value.ToString("C"))
            </td>*@
        </tr>
    }
}