@model ArtSolutions.MUN.Web.Areas.Services.Models.ServiceList
@using LocalResource = ArtSolutions.MUN.Web.Resources.Service
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global

@{
    ViewBag.Title = LocalResource.ListTitle;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>@GlobalResource.Service</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home", new {area = "" })">@GlobalResource.Home</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>
                    <div class="ibox-tools">
                        <div class="btn-group">
                            <a href="@Url.Action("Add")" class="btn btn-primary btn-xs" tabindex="3">@LocalResource.NewTitle</a>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-lg m-t-sm">
                        <div class="col-sm-2 col-md-2 col-lg-1">
                            <button type="button" id="btnrefresh" class="btn btn-white btn-sm" tabindex="4"><i class="fa fa-refresh"></i> @GlobalResource.Refresh</button>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    @Html.DropDownList("GroupID", (List<SelectListItem>)ViewBag.ServiceTypeGroupList, GlobalResource.All, new { @class = "form-control select2dropdown", @id = "ddlGroupID", tabindex = 4 })
                                </div>
                                <div class="col-lg-6">
                                    @Html.DropDownList("ServiceTypeID", new List<SelectListItem>(), GlobalResource.All, new { @class = "form-control select2dropdown", @id = "ddlServiceType", tabindex = 4 })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-5">
                            <div class="input-group">
                                <input type="text" placeholder="@GlobalResource.TopSearchPlaceholder" class="input-sm form-control readdata" id="txtSearch" tabindex="1"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary" id="btnSearch" tabindex="2">@GlobalResource.Go</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-stripped dataTables-example" id="tblService"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/Culture")

    <script type="text/javascript">

        var nodatamsg = '@Html.Raw(GlobalResource.NoDataMessage)';
        var view = '@Html.Raw(GlobalResource.View)';
        var edit = '@Html.Raw(GlobalResource.Edit)';
        var first = '@Html.Raw(GlobalResource.First)';
        var last = '@Html.Raw(GlobalResource.Last)';
        var next = '@Html.Raw(GlobalResource.Next)';
        var previous = '@Html.Raw(GlobalResource.Previous)';
        var group = '@Html.Raw(GlobalResource.ServiceGroup)';
        var type = '@Html.Raw(GlobalResource.ServiceType)';
        var service = '@Html.Raw(GlobalResource.Service)';
        var effectiveFrom = '@Html.Raw(LocalResource.EffectiveFrom)';
        var effectiveTo = '@Html.Raw(LocalResource.EffectiveTo)';
        var actions = '@Html.Raw(GlobalResource.Actions)';
        var serviceCode = '@Html.Raw(GlobalResource.ServiceCode)';
        var ALL = '@Html.Raw(GlobalResource.All)';
    </script>
    <script src="~/Scripts/app/servicelist.js"></script>
}