@model ArtSolutions.MUN.Web.Areas.Reports.Models.MonthlyIncomeStatementByServicesModel
@using System.Globalization
@using ReportResource = ArtSolutions.MUN.Web.Resources.Report
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global

@{
    ViewBag.Title = ReportResource.MonthlyIncomeStatementByServices;
    var msoTextFormat = @"mso-number-format:'\@'";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <style>
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/printStyle.css")))

        @Html.Raw("@@page {size: landscape;}")
    </style>
</head>
<body>
    <div id="divPrint" class="wrapper wrapper-content p-xl">

        @{
            Html.RenderPartial("~/Areas/Reports/Views/Shared/_CommonHeader.cshtml", Model.ReportCompanyModel);
        }

        <table cellspacing="0" class="report-Table">
            <thead>
                <tr>
                    <th width="15%" class="table-border-center-th"></th>
                    <th width="25%" class="table-border-center-th"></th>
                    <th width="30%" class="table-border-center-th" colspan="3">@ReportResource.CurrentMonth</th>
                    <th width="30%" class="table-border-center-th" colspan="3">@ReportResource.LastMonth</th>
                </tr>
                <tr>
                    <th width="15%" class="table-border-center-th">@GlobalResource.Code</th>
                    <th width="25%" class="table-border-center-th">@GlobalResource.Description</th>
                    <th width="10%" class="table-border-center-th">@GlobalResource.Penalty</th>
                    <th width="10%" class="table-border-center-th">@ReportResource.Interest</th>
                    <th width="10%" class="table-border-center-th">@ReportResource.Income</th>
                    <th width="10%" class="table-border-center-th">@GlobalResource.Penalty</th>
                    <th width="10%" class="table-border-center-th">@ReportResource.Interest</th>
                    <th width="10%" class="table-border-center-th">@ReportResource.Income</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.MonthlyIncomeStatementByServicesList != null && Model.MonthlyIncomeStatementByServicesList.Count() > 0)
                {
                    foreach (var objServiceCode in Model.MonthlyIncomeStatementByServicesList.GroupBy(d => d.Code1).Select(d => d.Key).Distinct().ToList())
                    {
                        foreach (var item in Model.MonthlyIncomeStatementByServicesList.Where(d => d.Code1 == objServiceCode))
                        {
                            <tr>
                                <td class="table-border-center-td" style="@msoTextFormat">
                                    @Html.Raw(item.Code1 + " " + item.Code2)
                                </td>
                                <td class="table-border-center-td">
                                    @item.ServiceName
                                </td>
                                <td class="table-border-center-td">
                                    @*@Html.Raw(item.CurrentCharges.ToString(Common.NumberPoints))*@
                                    @Html.Raw(0.ToString("C"))
                                </td>
                                <td class="table-border-center-td">
                                    @Html.Raw(item.CurrentInterest.ToString(Common.NumberPoints))
                                </td>
                                <td class="table-border-center-td">
                                    @*@Html.Raw(item.CurrentPayment.ToString(Common.NumberPoints))*@
                                    @if (item.Code1 + item.Code2 == "131105000000007")
                                    {
                                            @Html.Raw((item.CurrentPayment + Model.MonthlyIncomeStatementByServicesList.Sum(x => x.CurrentCharges)).ToString("C"))
                                    }
                                    else
                                    {
                                            @Html.Raw((item.CurrentPayment - item.CurrentCharges).ToString("C"))
                                    }
                                </td>
                                <td class="table-border-center-td">
                                    @*@Html.Raw(item.PreviousCharges.ToString(Common.NumberPoints))*@
                                    @Html.Raw(0.ToString("C"))
                                </td>
                                <td class="table-border-center-td">
                                    @Html.Raw(item.PreviousInterest.ToString(Common.NumberPoints))
                                </td>
                                <td class="table-border-center-td">
                                    @* @Html.Raw(item.PreviousPayment.ToString(Common.NumberPoints))*@
                                    @if (item.Code1 + item.Code2 == "131105000000007")
                                    {
                                        @Html.Raw((item.PreviousPayment + Model.MonthlyIncomeStatementByServicesList.Sum(x => x.PreviousCharges)).ToString("C"))
                                    }
                                    else
                                    {
                                        @Html.Raw((item.PreviousPayment - item.PreviousCharges).ToString("C"))
                                    }
                                </td>
                            </tr>
                        }
                        <tr>
                            <td class="table-bg-bold-center-td" colspan="2" style="@msoTextFormat">
                                @Html.Raw(ReportResource.TotalCodeRevenue + ": " + objServiceCode)
                            </td>
                            <td class="table-bg-bold-center-td">
                                @*@Html.Raw(@Model.MonthlyIncomeStatementByServicesList.Where(d => d.Code1 == objServiceCode).Sum(x => x.CurrentCharges).ToString(Common.NumberPoints))*@
                                @Html.Raw(0.ToString("C"))
                            </td>
                            <td class="table-bg-bold-center-td">
                                @Html.Raw(@Model.MonthlyIncomeStatementByServicesList.Where(d => d.Code1 == objServiceCode).Sum(x => x.CurrentInterest).ToString(Common.NumberPoints))
                            </td>
                            <td class="table-bg-bold-center-td">
                                @*@Html.Raw(@Model.MonthlyIncomeStatementByServicesList.Where(d => d.Code1 == objServiceCode).Sum(x => x.CurrentPayment).ToString(Common.NumberPoints))*@
                                @if (objServiceCode == "1311050000000")
                                {
                                    @Html.Raw((Model.MonthlyIncomeStatementByServicesList.Where(d => d.Code1 == objServiceCode).Sum(x => x.CurrentPayment)).ToString("C"))
                                }
                                else
                                {
                                    @Html.Raw((Model.MonthlyIncomeStatementByServicesList.Where(d => d.Code1 == objServiceCode).Sum(x => x.CurrentPayment) - Model.MonthlyIncomeStatementByServicesList.Where(d => d.Code1 == objServiceCode).Sum(x => x.CurrentCharges)).ToString("C"))
                                }
                            </td>
                            <td class="table-bg-bold-center-td">
                                @*@Html.Raw(@Model.MonthlyIncomeStatementByServicesList.Where(d => d.Code1 == objServiceCode).Sum(x => x.PreviousCharges).ToString(Common.NumberPoints))*@
                                @Html.Raw(0.ToString("C"))
                            </td>
                            <td class="table-bg-bold-center-td">
                                @Html.Raw(@Model.MonthlyIncomeStatementByServicesList.Where(d => d.Code1 == objServiceCode).Sum(x => x.PreviousInterest).ToString(Common.NumberPoints))
                            </td>
                            <td class="table-bg-bold-center-td">
                                @*@Html.Raw(@Model.MonthlyIncomeStatementByServicesList.Where(d => d.Code1 == objServiceCode).Sum(x => x.PreviousPayment).ToString(Common.NumberPoints))*@
                                @if (objServiceCode == "1311050000000")
                                {
                                    @Html.Raw((Model.MonthlyIncomeStatementByServicesList.Where(d => d.Code1 == objServiceCode).Sum(x => x.PreviousPayment)).ToString("C"))
                                }
                                else
                                {
                                    @Html.Raw((Model.MonthlyIncomeStatementByServicesList.Where(d => d.Code1 == objServiceCode).Sum(x => x.PreviousPayment) - Model.MonthlyIncomeStatementByServicesList.Where(d => d.Code1 == objServiceCode).Sum(x => x.PreviousCharges)).ToString("C"))
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <td class="table-bg-bold-center-td"></td>
                        <td class="table-bg-bold-center-td">
                            @ReportResource.TotalRevenueCurrentMonth
                        </td>
                        <td class="table-bg-bold-center-td"></td>
                        <td class="table-bg-bold-center-td"></td>
                        <td class="table-bg-bold-center-td">
                            @Model.MonthlyIncomeStatementByServicesList.Sum(x => x.CurrentPayment).ToString(Common.NumberPoints)
                           @*@Html.Raw((Model.MonthlyIncomeStatementByServicesList.Sum(x => x.CurrentPayment)+ Model.MonthlyIncomeStatementByServicesList.Sum(x => x.CurrentCharges)).ToString(Common.NumberPoints))*@
                        </td>
                        <td class="table-bg-bold-center-td"></td>
                        <td class="table-bg-bold-center-td"></td>
                        <td class="table-bg-bold-center-td"></td>
                    </tr>
                    <tr>
                        <td class="table-bg-bold-center-td"></td>
                        <td class="table-bg-bold-center-td">
                            @ReportResource.TotalIncomePreviousMonth
                        </td>
                        <td class="table-bg-bold-center-td"></td>
                        <td class="table-bg-bold-center-td"></td>
                        <td class="table-bg-bold-center-td"></td>
                        <td class="table-bg-bold-center-td"></td>
                        <td class="table-bg-bold-center-td"></td>
                        <td class="table-bg-bold-center-td">
                            @Model.MonthlyIncomeStatementByServicesList.Sum(x => x.PreviousPayment).ToString(Common.NumberPoints)
                            @*@Html.Raw((Model.MonthlyIncomeStatementByServicesList.Sum(x => x.PreviousPayment) + Model.MonthlyIncomeStatementByServicesList.Sum(x => x.PreviousCharges)).ToString(Common.NumberPoints))*@
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="8" class="table-border-td center">
                            <center>
                                <label> @GlobalResource.NoDataMessage </label>
                            </center>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>