@model ArtSolutions.MUN.Web.Areas.Reports.Models.AccountPropertyRemovedModel
@using ArtSolutions.MUN.Web.Areas.Accounts.Models
@using ReportResource = ArtSolutions.MUN.Web.Resources.Report
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global

<div class="table-responsive m-t">
    <table id="AccountPropertyRemovedTable" class="table table-report display nowrap">
        <thead>
            <tr>
                <th width="10%" class="text-center">
                    @ReportResource.RightNumber
                </th>
                <th width="30%" class="text-center">
                    @GlobalResource.AccountName
                </th>                
                <th width="10%" class="text-center">
                    @ReportResource.RemovedDate
                </th>                
                <th width="30%" class="text-center">
                    @GlobalResource.DeletedBy
                </th>
            </tr>
        </thead>
        <tbody id="tblDetailRow">
            @if (Model.AccountPropertyRemovedList != null && Model.AccountPropertyRemovedList.Count() > 0)
            {
                foreach (var item in Model.AccountPropertyRemovedList)
                {

            <tr>
                <td class="text-left">
                    @item.RigthNumber

                </td>
                <td class="text-center">
                    @item.AccountName
                </td>                
                <td class="text-center">@item.ModifiedDate.ToString("d")</td>
                <td class="text-center">
                    @item.DeletedByAccountName
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>