@model ArtSolutions.MUN.Web.Areas.Reports.Models.IVUBalanceSheetModel
@using LocalResource = ArtSolutions.MUN.Web.Resources.Report
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global

@{
    ViewBag.Title = LocalResource.IVUBalanceSheetTitle;
}

<div class="wrapper wrapper-content fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("ExportIVUBalanceSheet", "Report", FormMethod.Post, new { id = "form", @class = "wizard-big" }))
            {
                <div class="ibox" id="dviBox">
                    <div class="ibox-title text-center">
                        @{
                            Html.RenderPartial("~/Areas/Reports/Views/Shared/_CommonHeaderReport.cshtml", Model.ReportCompanyModel);
                        }
                    </div>
                    <div class="ibox-content">
                        <div class="row m-t-sm m-b no-print">
                            <div class="col-lg-12">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>@GlobalResource.From <span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(x => x.StartPeriod, new { @class = "form-control periodDate textblur", tabindex = 1, @data_required_msg = LocalResource.FromDateRequiredMsg, @data_compare_val_msg = LocalResource.CompareDatesValidationMsg })
                                    </div>
                                    <div class="form-group">
                                        <label>@GlobalResource.To <span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(x => x.EndPeriod, new { @class = "form-control periodDate textblur", tabindex = 2, @data_required_msg = LocalResource.ToDateRequiredMsg, @data_compare_val_msg = LocalResource.CompareDatesValidationMsg })
                                    </div>
                                    <div class="form-group">
                                        <button id="btnGo" type="button" class="btn btn-sm btn-primary m-r-md" name="actionType" value="Go" tabindex="3">@GlobalResource.Go</button>
                                        <label>
                                            <a href="javascript:;" tabindex="4" style="text-decoration:underline;" onclick="loadAdvanceSearch();">
                                                @GlobalResource.AdvanceSearch
                                            </a>
                                        </label>
                                    </div>
                                    <div class="form-group pull-right">
                                        <button type="submit" name="exportType" class="btn-success btn-sm m-r-xs" value="0" itag="btnExcel" tabindex="5" onclick="return validateForm();">@GlobalResource.Excel</button>
                                        <button type="submit" name="exportType" class="btn-success btn-sm m-r-xs" value="1" itag="btnPDF" tabindex="6" onclick="return validateForm();">@GlobalResource.PDF</button>
                                        <button type="button" class="btn-info btn-sm" data-type="2" itag="btnPrint" tabindex="7" onclick="return Print();">@GlobalResource.Print</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 m-t-sm m-b-n hide" id="dvsearchinfo">
                                <div class="col-lg-9 col-md-8 col-sm-8 form-inline">
                                    <span class="label label-warning pull-left" id="spnBalanceRange">  <i class="fa fa-search"></i> <span id="SearchText"></span>  <i class="fa fa-close" onclick="clearSearch('balance')" style="cursor:pointer;"></i></span>
                                    <span class="label label-warning pull-left hide" id="spnSelectedAccount" style="margin-right: 5px;">  <i class="fa fa-search"></i> <span id="AccountIdSearchText"></span>  <i class="fa fa-close" onclick="clearSearch('accounts')" style="cursor:pointer;"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive p-sm m-t" id="dvUpdate">
                            <table class="table table-report table-tbody-total" id="tblIVUBalanceSheet">
                                <tfoot class="hide" id="tblFooter">
                                    <tr>
                                        <th colspan="7" style="text-align: right !important"> @GlobalResource.Total : </th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(x => x.BalanceFrom)
                @Html.HiddenFor(x => x.BalanceTo)
                @Html.HiddenFor(x => x.FilterAccountID)
            }
        </div>
    </div>
</div>

<div class="modal inmodal" id="advanceSearchModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn form-horizontal" id="dvAdvanceSearch">
            <div class="modal-body no-padding">
                <div class="ibox no-margins">
                    <div class="ibox-title">
                        <h5> @GlobalResource.AdvanceSearch  </h5>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@GlobalResource.Close</span></button>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">@LocalResource.BalanceFrom</label>
                            <div class="col-lg-4">
                                @Html.TextBox("BalanceFrom", Model.BalanceFrom, new { @class = "form-control inputdecimal", @id = "txtBalanceFrom", @data_title = LocalResource.BalanceFrom, @data_val_msg = LocalResource.BalanceFromRequiredMsg, tabindex = 8 })
                            </div>
                            <label class="col-lg-2 control-label"> @LocalResource.BalanceTo</label>
                            <div class="col-lg-4">
                                @Html.TextBox("BalanceTo", Model.BalanceTo, new { @class = "form-control inputdecimal", @id = "txtBalanceTo", @data_title = LocalResource.BalanceTo, @data_val_msg = LocalResource.BalanceToRequiredMsg, tabindex = 9 })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">@GlobalResource.Account</label>
                            <div class="col-lg-4">
                                @Html.DropDownListFor(X => X.AccountIDs, new SelectList(Model.AccountList, "ID", "Name"), new { @multiple = "multiple", @class = "form-control select2dropdown", tabindex = 10 })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSearch" type="button" class="btn btn-primary " onclick="return validateAdvanceSearch();" tabindex=11>@GlobalResource.Add</button>
                <button id="btnCancel" type="button" class="btn btn-white closemodal" data-dismiss="modal" tabindex=12>@GlobalResource.Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/select2Styles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/select2")

    <script type="text/javascript">
        var balanceFromRequiredMsg = '@Html.Raw(LocalResource.BalanceFromRequiredMsg)';
        var balanceToRequiredMsg = '@Html.Raw(LocalResource.BalanceToRequiredMsg)';
        var nodatamsg = '@Html.Raw(GlobalResource.NoDataMessage)';
        var accountNumber = '@Html.Raw(GlobalResource.AccountNumber)';
        var name = '@Html.Raw(GlobalResource.Name)';
        var period = '@Html.Raw(GlobalResource.Period)';
        var totaltaxablesales = '@Html.Raw(ArtSolutions.MUN.Web.Resources.AccountService.TaxableSales)';
        var ivu = '@Html.Raw(GlobalResource.IVU)';
        var penalty = '@Html.Raw(LocalResource.Penalty)';
        var surcharges = '@Html.Raw(LocalResource.Surcharges)';
        var interests = '@Html.Raw(LocalResource.Interests)';
        var balance = '@Html.Raw(LocalResource.Balance)';
        var compareBalanceValidationMsg = '@Html.Raw(LocalResource.CompareBalanceValidationMsg)';
        var BalanceRange = '@Html.Raw(LocalResource.BalanceRange)';
        var next = '@Html.Raw(GlobalResource.Next)';
        var previous = '@Html.Raw(GlobalResource.Previous)';
        var SelectedAccount = '@Html.Raw(LocalResource.SelectedAccount)';
        var dropDownSelectMessage = '@Html.Raw(GlobalResource.DropDownSelectMessage)';
        var minimumInputSearchCharacterMessage = '@Html.Raw(GlobalResource.MinimumInputSearchCharacterMessage)';
        var nodatamsg = '@Html.Raw(GlobalResource.NoDataMessage)';
    </script>
    <script src="~/Scripts/app/repivubalancesheet.js"></script>
}