@model ArtSolutions.MUN.Web.Areas.Collections.Models.ClosingEntryModel
@using LocalResource = ArtSolutions.MUN.Web.Resources.COLClosing
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global
@using ReportResource = ArtSolutions.MUN.Web.Resources.Report
@using PaymentResource = ArtSolutions.MUN.Web.Resources.COLPayment

@{
    ViewBag.Title = LocalResource.ViewCloseEntryDay;
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight" id="dvclosingentry">
    <table>
        <tr><td class="center"><h2 class="no-margin">@ViewBag.CompanyName</h2></td></tr>
        <tr><td class="center"><h4 class="no-margin">@LocalResource.ViewCloseEntryDay</h4></td></tr>
    </table>
    <hr />
    <table cellspacing="0" class="report-Table" id="mytable" data-sorting="false">
        <tbody>
            <tr>
                <td class="table-bold-right-td">
                    @GlobalResource.Cashier :
                </td>
                <td>
                    @Model.CashierList.FirstOrDefault(d => d.Value == Model.CashierID.ToString()).Text
                </td>
                <td class="table-bold-right-td">
                    @GlobalResource.ClosingType :
                </td>
                <td>
                    @Model.ClosingTypeList.FirstOrDefault(d => d.Value == Model.ClosingTypeID.ToString()).Text
                </td>
            </tr>
            <tr>
                <td class="table-bold-right-td valign-top">
                    @GlobalResource.Date :
                </td>
                <td class="valign-top">@Model.Date.ToString("d")</td>
                <td class="table-bold-right-td valign-top">
                    @GlobalResource.Description :
                </td>
                <td class="valign-top">@Model.Description</td>
            </tr>
            <tr>
                <td class="table-bold-right-td valign-top">
                    @PaymentResource.PaymentOption :
                </td>
                <td class="valign-top">@Model.PaymentOptionName</td>
                @*<td class="table-bold-right-td valign-top">
                    @PaymentResource.FinanceCheckbook :
                </td>
                <td class="valign-top">@Model.FinanceCheckbookName</td>*@
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <table cellspacing="0" class="report-Table">
        <thead>
            <tr>
                <th colspan="2" width="20%" class="table-border-center-th">
                    @GlobalResource.Date
                </th>
                <th colspan="4" width="30%" class="table-border-center-th">
                    @GlobalResource.Account
                </th>
                <th colspan="3" width="20%" class="table-border-center-th">
                    @GlobalResource.PaymentReceipt
                </th>
                <th colspan="2" width="20%" class="table-border-center-th">
                    @PaymentResource.PaymentOption
                </th>
                <th width="10%" class="table-border-center-th">
                    @LocalResource.ReceiptAmount
                </th>
            </tr>
        </thead>
        <tbody id="receiptRows">
            @if (Model.PostedPaymentReceiptList.Count() > 0)
            {
                foreach (var item in Model.PostedPaymentReceiptList)
                {
                    <tr>
                        <td colspan="2" class="table-border-left-td">
                            @item.Date.ToString("d")
                        </td>
                        <td colspan="4" class="table-border-left-td">
                            @item.AccountDisplayName
                        </td>
                        <td colspan="3" class="table-border-left-td">
                            @item.Number
                        </td>
                        <td colspan="2" class="table-border-left-td">
                            @item.PaymentOption
                        </td>
                        <td class="table-border-right-td">
                            @item.NetPayment.ToString("C")
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="12" class="table-bg-bold-center-td">@GlobalResource.NoDataMessage</td>
                </tr>
            }
            <tr>
                <td class="table-bg-bold-left-td"></td>
                <td colspan="9" class="table-bg-bold-right-td">
                    @Html.Raw(@LocalResource.TotalPaymentReceipts + " : " + @Model.PostedPaymentReceiptList.Count())
                </td>
                <td class="table-bg-bold-right-td">
                    @GlobalResource.Total :
                </td>
                <td class="table-bg-bold-right-td">
                    @Html.Raw(@Model.PostedPaymentReceiptList.Sum(d => d.NetPayment).ToString("c"))
                </td>
            </tr>
            @*<tr>
                <td colspan="6" class="table-bg-bold-left-td">
                    @Html.Raw(@PaymentResource.TotalCash + " : " + @Model.TotalCash.ToString("C"))
                </td>
                <td colspan="6" class="table-bg-bold-left-td">
                    @Html.Raw(@PaymentResource.TotalChequedelBancoNacional + " : " + @Model.TotalChequedelBancoNacional.ToString("C"))
                </td>
            </tr>
            <tr>
                <td colspan="6" class="table-bg-bold-left-td">
                    @Html.Raw(@PaymentResource.TotalCreditCard + " : " + @Model.TotalCreditCard.ToString("C"))
                </td>
                <td colspan="6" class="table-bg-bold-left-td">
                    @Html.Raw(@PaymentResource.TotalBankTransferByBancodeCostaRica + " : " + @Model.TotalBankTransfer.ToString("C"))
                </td>
            </tr>
            <tr>
                <td colspan="6" class="table-bg-bold-left-td">
                    @Html.Raw(@PaymentResource.TotalChequedelBancodeCostaRica + " : " + @Model.TotalChequedelBancodeCostaRica.ToString("C"))
                </td>
                <td colspan="6" class="table-bg-bold-left-td">
                    @Html.Raw(@PaymentResource.TotalAdjustment + " : " + @Model.TotalAdjustment.ToString("C"))
                </td>
            </tr>
            <tr>
                <td colspan="6" class="table-bg-bold-left-td">
                    @Html.Raw(@PaymentResource.TotalBank + " : " + @Model.TotalBank.ToString("C"))
                </td>
                <td colspan="6" class="table-bg-bold-left-td">
                    @Html.Raw(@PaymentResource.TotalBankTransferByBancoNacionaldeCostaRica + " : " + @Model.TotalBankTransferByBancoNacionaldeCostaRica.ToString("C"))
                </td>
            </tr>*@
        </tbody>
    </table>
</div>