@model ArtSolutions.MUN.Web.Areas.Reports.Models.BusinessLicenceSanitaryPermitDueDateModel
@using LocalResource = ArtSolutions.MUN.Web.Resources.Report
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global
@{
    ViewBag.Title = LocalResource.SanitaryPermitDueDateBusinessLicenseTitle;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> @ViewBag.Title </title>
    <style>
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/printStyle.css")))
        @@page {
            size: landscape;
        }
    </style>
</head>
<body class="white-bg">
    <div id="divPrint" class="wrapper wrapper-content p-xl">
        @{
            Html.RenderPartial("~/Areas/Reports/Views/Shared/_CommonHeader.cshtml", Model.ReportCompanyModel);
        }
        <table cellspacing="0" class="report-Table">
            <tbody>
                <tr>
                    <th width="20%" class="table-border-center-th">@GlobalResource.License</th>
                    <th width="20%" class="table-border-center-th">@GlobalResource.AccountName</th>
                    <th width="20%" class="table-border-center-th">@LocalResource.PatentNumber</th>
                    <th width="10%" class="table-border-center-th">@GlobalResource.PhoneNumber</th>
                    <th width="10%" class="table-border-center-th">@LocalResource.Sanitarypermit</th>
                    <th width="10%" class="table-border-center-th">@LocalResource.DueDate</th>
                    <th width="10%" class="table-border-center-th">@LocalResource.ElapsedDays</th>
                </tr>
                @if (Model.BusinessLicenceSanitaryPermitDueDateList != null && Model.BusinessLicenceSanitaryPermitDueDateList.Count() > 0)
                {
                    foreach (var item in Model.BusinessLicenceSanitaryPermitDueDateList)
                    {
                <tr>
                    <td class="table-border-left-td">
                        @item.ServiceName
                    </td>
                    <td class="table-border-left-td">
                        @item.AccountName
                    </td>
                    <td class="table-border-left-td">
                        @item.PatentNumber
                    </td>
                    <td class="table-border-center-td">
                        @item.PhoneNumber
                    </td>
                    <td class="table-border-left-td">
                        @item.PermisoSanitario
                    </td>
                    <td class="table-border-center-td">
                        @item.FormattedDueDate
                    </td>
                    <td class="table-border-center-td">
                        @item.Days
                    </td>
                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7" class="table-bg-bold-center-td">
                            <center> @GlobalResource.NoDataMessage </center>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>