@model ArtSolutions.MUN.Web.Areas.Reports.Models.BusinessLicenseCertificateModel
@using ArtSolutions.MUN.Web.Areas.Accounts.Models
@using ReportResource = ArtSolutions.MUN.Web.Resources.Report
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global

@{
    AddressModel addressModel = new AddressModel();
    if (Model.AccountModel != null && Model.AccountModel.AddressList != null && Model.AccountModel.AddressList.Count() > 0)
    {
        addressModel = Model.AccountModel.AddressList.Where(x => x.IsPrimary == true).SingleOrDefault();
    }
}
@if (Model.AccountModel != null)
{
    <div class="row">
        <div class="col-lg-12 m-t-lg">
            <div class="col-lg-4 box-border">
                <div class="col-lg-12 no-padding m-t-sm ">
                    <strong> @Model.AccountModel.DisplayName </strong>
                </div>
                @if (addressModel != null)
                {
                    <div class="col-lg-12 no-padding ">
                        @addressModel.AddressLine1
                    </div>
                    <div class="col-lg-12 no-padding ">
                        @addressModel.AddressLine2
                    </div>
                    <div class="col-lg-12 no-padding m-t-sm m-b-sm">
                        @addressModel.City , @addressModel.State , @addressModel.Country
                        @if (!string.IsNullOrEmpty(addressModel.ZipPostalCode))
                        {
                            <span>, @addressModel.ZipPostalCode </span>
                        }
                    </div>
                }
            </div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <div class="row m-b-lg m-t-sm">
                    <div class="col-lg-6 text-right"><strong> @GlobalResource.AccountNumber : </strong></div>
                    <div class="col-lg-6 text-right border-bottom border-left border-right border-top"> @Model.AccountModel.TaxNumber</div>
                </div>
                <div class="row m-t-sm">
                    <div class="col-lg-6 text-right"> <strong> @GlobalResource.Reference : </strong></div>
                    <div class="col-lg-6 text-right border-bottom border-left border-right border-top"> @Model.AccountModel.RegisterNumber </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t-lg">
        <div class="col-lg-12">
            @ReportResource.PatentDebitCertificateHeaderDesc
        </div>
    </div>
    <table class="table table-report table-tbody-total no-padding" id="tblPatentStatement">
        <tfoot class="hide" id="tblFooter">
            <tr>
                <th colspan="6" style="text-align:right"> @ReportResource.TotalBalance : </th>
                <th></th>
            </tr>
        </tfoot>
    </table>
    <div class="row">
        <div class="col-lg-12">
            @ReportResource.SalesTaxDebtSatementBottomLine1Desc.Replace("#CompanyName#", Model.ReportCompanyModel.Name)
        </div>
        <div class="col-lg-12 m-t-sm">
            @ReportResource.SalesTaxFilingCertificateLine2Desc.Replace("#CompanyState#", Model.ReportCompanyModel.StateName).Replace("#CompanyCity#", Model.ReportCompanyModel.City).Replace("#TodaysDate#", Model.FutureDate.ToString("d"))
        </div>
        <div class="col-lg-4 m-t-md">
            <hr />
            @if (!string.IsNullOrEmpty(ArtSolutions.MUN.Web.Helpers.UserSession.Current.Username))
            {
                @ArtSolutions.MUN.Web.Helpers.UserSession.Current.Username
            }
            <br />
            @ReportResource.SalesTaxDebtSatementBottomLine3Desc
        </div>
    </div>
}
