@model ArtSolutions.MUN.Web.Areas.Cases.Models.ContactViewModel

@using LocalResource = ArtSolutions.MUN.Web.Resources.Case;
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global;
@using AccountResource = ArtSolutions.MUN.Web.Resources.Account;

<div class="modal inmodal" id="dvHeirInfo" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated fadeIn">
            <form id="frmHeirInfo">
                <div class="modal-body no-padding">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 id="heirInformationTitle">@LocalResource.HeirInformation</h5>
                            <h5 id="spouceInformationTitle">@LocalResource.SpouceInformation</h5>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@GlobalResource.Close</span></button>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">@AccountResource.FirstName<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => Model.FirstName, new { @class = "form-control required", @maxlength = "250",@id="txtHeirFirstName" })
                                            @Html.ValidationMessageFor(m => Model.FirstName)
                                            @Html.HiddenFor(a => a.ContactTypeID, new { @id = "hdnContactTypeID" })
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">@AccountResource.LastName<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => Model.LastName, new { @class = "form-control required", @maxlength = "250", @id = "txtHeirLastName" })
                                            @Html.ValidationMessageFor(m => Model.LastName)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <small class="pull-right m-t-phone">
                                                Country Code + Area Code + Phone
                                            </small>
                                            <label class="control-label">@LocalResource.Telephone<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => Model.Telephone, new { @class = "form-control required", @maxlength = "15", @id = "txtHeirTelephone" })
                                            @Html.ValidationMessageFor(m => Model.Telephone)
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">@LocalResource.Fax</label>
                                            @Html.TextBoxFor(m => Model.Fax, new { @class = "form-control", @maxlength = "50", @id = "txtHeirFax" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">@AccountResource.AddressLine1<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => Model.Address1, new { @class = "form-control required", @maxlength = "250", @id = "txtHeirAddress1" })
                                            @Html.ValidationMessageFor(m => Model.Address1)
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">@AccountResource.AddressLine2<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => Model.Address2, new { @class = "form-control required", @maxlength = "250", @id = "txtHeirAddress2" })
                                            @Html.ValidationMessageFor(m => Model.Address2)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">@GlobalResource.Country<span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(m => Model.CountryID, (Model.CountryList == null ? Enumerable.Empty<SelectListItem>() : Model.CountryList.Select(a => new SelectListItem { Text = a.Name, Value = a.ID.ToString() })), new { @class = "form-control required select2dropdown", @data_rule_selectRule = "true", @id = "ddlHeirCountry" })
                                            @Html.ValidationMessageFor(m => m.CountryID)
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">@AccountResource.State<span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(m => Model.CountryStateID, (Model.CountryStateList == null ? Enumerable.Empty<SelectListItem>() : Model.CountryStateList.Select(a => new SelectListItem { Text = a.Name, Value = a.ID.ToString() })), new { @class = "form-control required select2dropdown", @data_rule_selectRule = "true", @id = "ddlHeirState" })
                                            @Html.ValidationMessageFor(m => m.CountryStateID)
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">@AccountResource.ZipCode<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => Model.ZipPostalCode, new { @class = "form-control required", @maxlength = "250", @id = "txtHeirZipPostalCode" })
                                            @Html.ValidationMessageFor(m => Model.ZipPostalCode)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">@LocalResource.Comment</label>
                                            @Html.TextAreaFor(m => Model.Comment, new { @class = "form-control textarea-vertical-resize", @rows = 4, @cols = 80, @maxlength = "250", @id = "txtHeirComments" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnAddHeirInfo" class="btn btn-primary as-btn-text">@GlobalResource.Add</button>
                    <button type="button" id="btnCancelHeirInfo" class="btn btn-default as-btn-text">@GlobalResource.Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>