@model ArtSolutions.MUN.Web.Areas.Accounts.Models.ImportAccountPropertyFieldModel
@using LocalResource = ArtSolutions.MUN.Web.Resources.ImportAccount;

<h2>@LocalResource.SelectFileToImport</h2>
<div class="row">
    @Html.HiddenFor(x => x.type)
    <div class="col-lg-8">
        <div class="form-group">
            <label>@LocalResource.DownloadFileOption <a href='@Url.Content("~/SampleImportFile/Import Property Account.xlsx")' data-toggle="tooltip" data-placement="bottom" title="@LocalResource.DownloadExcelTemplate">@LocalResource.Sample</a> @LocalResource.CompareSample</label>
            <br /><label>@LocalResource.SelectFile<span class="text-danger">&nbsp;*</span></label>
            <div class="dropzone" id="dropzoneForm">
                <div class="fallback">
                    @Html.TextBoxFor(model => Model.UploadFile, new { type = "file" })
                    @Html.ValidationMessageFor(m => m.UploadFile, "", new { @class = "text-danger" })
                </div>
            </div>
            <span>@LocalResource.FileFormat</span>
        </div>
    </div>
</div>
