@model ArtSolutions.MUN.Web.Areas.Reports.Models.HistoricalPaymentReportModel
@using LocalResource = ArtSolutions.MUN.Web.Resources.Report
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global

@{
    ViewBag.Title = LocalResource.HistoricalPaymentReport;
}
<div class="wrapper wrapper-content fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("ExportHistoricalPaymentReport", "Report", FormMethod.Post,
                            new { id = "form", @class = "wizard-big" }))
            {
                <div class="ibox" id="dviBox">
                    <div class="ibox-title text-center">
                        @{
                            Html.RenderPartial("~/Areas/Reports/Views/Shared/_CommonHeaderReport.cshtml", Model.ReportCompanyModel);
                        }
                    </div>
                    <div class="ibox-content">
                        <div class="row m-t-sm m-b no-print">
                            <div class="col-lg-12">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>@GlobalResource.From <span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(x => x.FromDate, Model.FromDate.ToString("MM yyyy"), new { @class = "form-control periodDate textblur", tabindex = 1, @data_required_msg = LocalResource.FromDateRequiredMsg, @data_compare_val_msg = LocalResource.CompareMonthValidationMsg })
                                    </div>
                                    <div class="form-group">
                                        <label>@GlobalResource.To <span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(x => x.ToDate, Model.ToDate.ToString("MM yyyy"), new { @class = "form-control periodDate textblur", tabindex = 2, @data_required_msg = LocalResource.ToDateRequiredMsg, @data_compare_val_msg = LocalResource.CompareMonthValidationMsg })
                                    </div>
                                    <div class="form-group">
                                        <button id="btnGo" type="button" class="btn btn-sm btn-primary m-r-md" name="actionType" value="Go" tabindex="3">@GlobalResource.Go</button>
                                    </div>
                                    <div class="form-group pull-right">
                                        <button type="submit" name="exportType" class="btn-success btn-sm m-r-xs" value="0" itag="btnExcel" tabindex="11" onclick="return validateForm();">@GlobalResource.Excel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="divHistoricalPaymentReport">
                        </div>

                    </div>
                </div>

                @Html.HiddenFor(x => x.FormattedFromDate)
                @Html.HiddenFor(x => x.FormattedToDate)
            }
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        var nodatamsg = '@Html.Raw(GlobalResource.NoDataMessage)';
        var next = '@Html.Raw(GlobalResource.Next)';
        var previous = '@Html.Raw(GlobalResource.Previous)';
        var nodatamsg = '@Html.Raw(GlobalResource.NoDataMessage)';
    </script>

    <script src="~/Scripts/app/rephistoricalpayment.js"></script>
}