@model ArtSolutions.MUN.Web.Areas.Accounts.Models.ImportAccountFieldModel
@using LocalResource = ArtSolutions.MUN.Web.Resources.ImportAccount;
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global;

@{
    ViewBag.Title = LocalResource.ImportAccountTitle;
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>@GlobalResource.Account</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home", new {area = "" })">@GlobalResource.Home</a>
            </li>
            <li>
                <a href="@Url.Action("List", "Account", new { area = "Accounts" })">@ArtSolutions.MUN.Web.Resources.Account.ListTitle</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>@ViewBag.Title</h5>                    
                </div>
                <div class="ibox-content">
                    @using (Ajax.BeginForm("", "", null, new { id = "frmImportAccount", @class = "wizard-big", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <h1>@LocalResource.ImportStep1</h1>
                        <fieldset class="divFileUpload">

                            @{Html.RenderPartial("~/Areas/Accounts/Views/ImportAccount/_UploadFile.cshtml");}
                        </fieldset>
                        <h1>@LocalResource.ImportStep2</h1>
                        <fieldset class="divMapping"></fieldset>
                        <h1>@LocalResource.ImportStep3</h1>
                        <fieldset class="divValidation"></fieldset>
                        <h1>@GlobalResource.Finish</h1>
                        <fieldset class="divFinish"></fieldset>
                                }
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
    <style type="text/css">
        .wizard-big.wizard > .content {
            min-height: 450px !important;
            overflow-y: auto;
        }

        .footable ul.pagination > li {
            display: inline !important;
        }

        .wizard > .content > .body {
            position: relative !important;
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/footable")
    @*@Scripts.Render("~/plugins/dropZone")*@
    <script type="text/javascript">
        var nextText = '@GlobalResource.Next',
            previousText = '@GlobalResource.Previous',
            cancelText = '@GlobalResource.Cancel',
            finishText = '@GlobalResource.Finish';
    </script>
    <script src="~/Scripts/app/accountimport.js"></script>
}