@model ArtSolutions.MUN.Web.Areas.Accounts.Models.DebitHistoryModel

@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global

@{
    Layout = null;
}

@using (Ajax.BeginForm("DebitHistory", "Account", new AjaxOptions { HttpMethod = "POST", OnBegin = "return ValidateDebitHistory()", OnSuccess = "DebitHistorySuccessCallback(data)" }, new { role = "form", @id = "frmDebitHistory", @class = "form-horizontal", data_ajax_mode = "replace-with" }))
{
    @Html.HiddenFor(a => a.AccountID)
    <div class="modal-body no-padding">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5> @GlobalResource.DebitHistory </h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@GlobalResource.Close</span></button>
            </div>
            <div class="ibox-content">
                <div class="row form-group">
                    <label class="col-lg-4 control-label">@GlobalResource.DebitBalance</label>
                    <div class="col-lg-4 m-t-sm">
                        <label>@Model.DebitBalance.ToString("C")</label>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-lg-4 control-label">@GlobalResource.Date<span class="text-danger">&nbsp;*</span></label>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(d => d.Date, new { @class = "form-control required",id="debitHistoryDate" })
                        @Html.ValidationMessageFor(x => x.Date)
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-lg-4 control-label">@GlobalResource.Amount<span class="text-danger">&nbsp;*</span></label>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(a => a.DebitAmount, new { @class = "form-control text-right required Currencyinputdecimal" })
                        @Html.ValidationMessageFor(x => x.DebitAmount)
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-lg-4 control-label">@GlobalResource.Reason<span class="text-danger">&nbsp;*</span></label>
                    <div class="col-lg-8">
                        @Html.TextAreaFor(d => d.Reason, new { @class = "form-control required", @rows = 3 })
                        @Html.ValidationMessageFor(x => x.Reason)
                    </div>
                </div>
                @* Table *@
                @*<table class="table table-stripped table-responsive">
                    <thead>
                        <tr>
                            <th>@GlobalResource.Date</th>
                            <th>@GlobalResource.Number</th>
                            <th>@GlobalResource.Amount</th>
                            <th>@GlobalResource.PaymentNo</th>
                            <th>@GlobalResource.Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.DebitHistoryModelList.Count > 0)
                        {
                            foreach (var item in Model.DebitHistoryModelList)
                            {
                                <tr>
                                    <td>@item.FormattedDate</td>
                                    <td>@item.Number</td>
                                    <td>@item.FormattedAmount</td>
                                    <td>@item.PaymentNumber</td>
                                    <td>@item.Reason</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="text-center">
                                    @GlobalResource.NoDataMessage
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>*@
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="btnAddTax" type="submit" class="btn btn-primary">@GlobalResource.Add</button>
        <button id="btnCancel" type="button" class="btn btn-white closemodal" data-dismiss="modal">@GlobalResource.Cancel</button>
    </div>

}

