@model ArtSolutions.MUN.Web.Areas.Collections.Models.ClosingEntryModel
@using LocalResource = ArtSolutions.MUN.Web.Resources.COLClosing
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global
@using PaymentResource = ArtSolutions.MUN.Web.Resources.COLPayment

@{
    ViewBag.Title = LocalResource.NewCloseEntryDay;
    bool? isViewMode = null;
    if (ViewBag.IsViewMode != null)
    {
        isViewMode = true;
        ViewBag.Title = LocalResource.ViewCloseEntryDay;
    }
    int paymentreceiptlistcount = (Model == null ? 0 : Model.PaymentReceiptCount);
    int pagesize = ArtSolutions.MUN.Web.Common.PageSize;
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>@LocalResource.CloseEntry</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home", new {area = "" })">@GlobalResource.Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "ClosingEntry", new {area = "Collections" })">@LocalResource.ListCloseEntryDay </a>
            </li>
            <li class="active">
                <strong> @ViewBag.Title </strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" id="dvclosingentry">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                @using (Ajax.BeginForm("Add", "ClosingEntry", null, new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnBegin = "return onClosingBegin()",
                    OnSuccess = "closingSuccessCallback(data)"
                }, new
                {
                    @class = "form-horizontal",
                    role = "form",
                    id = "frmClosing"
                }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.CashierName)
                    <div class="ibox-title ibox-title-with-button">
                        <h5>@ViewBag.Title</h5>
                        <div class="ibox-tools">
                            @if (!(isViewMode.HasValue && isViewMode.Value))
                            {
                                <button id="btnSave" type="button" name="actionType" value="1" tabindex="6" class="btn btn-primary" onclick="return confirmClosing();">@GlobalResource.Save</button>
                            }
                            @*else if (isViewMode.HasValue && isViewMode.Value && Model.IsVoid == false && Model.IsDeposited == false)
                                {
                                    <button id="viewclosingentry_btnVoidEntry" type="button" name="actionType" value="1" tabindex="6" class="btn btn-primary" onclick="$('#VoidReason').val('');$('#voidConfirmModal').modal('show');">@LocalResource.VoidEntry</button>
                                    @Html.Raw("&nbsp;")
                                }*@
                            @if (isViewMode.HasValue && isViewMode.Value)
                            {
                                <button type="button" class="btn btn-white" onclick="Print(@Model.ID)"><i class="fa fa-print"></i> @GlobalResource.Print</button>
                            }
                            <button class="btn btn-white" type="button" tabindex="7" onclick="window.location.href = '@Url.Action("Index", "ClosingEntry")';">@GlobalResource.Cancel</button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@GlobalResource.Cashier <span class="text-danger">&nbsp;*</span></label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.CashierID, Model.CashierList, GlobalResource.DropDownSelectMessage, new { @class = "form-control select2dropdown required", tabindex = 1, onchange = "loadPaymentReceipts()" })
                                @*@Html.DropDownListFor(x => x.CashierID, Model.CashierList, GlobalResource.DropDownSelectMessage, new { @class = "form-control select2dropdown required", tabindex = 1 })*@
                                @Html.ValidationMessageFor(x => x.CashierID)
                            </div>
                            <label class="col-sm-2 control-label">@GlobalResource.ClosingType<span class="text-danger">&nbsp;*</span></label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.ClosingTypeID, Model.ClosingTypeList, GlobalResource.DropDownSelectMessage, new { @class = "form-control select2dropdown required", tabindex = 2 })
                                @Html.ValidationMessageFor(x => x.ClosingTypeID)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@GlobalResource.Date <span class="text-danger">&nbsp;*</span></label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(x => x.Date, Model.Date.ToString("d"), new
                                    {
                                         @class = isViewMode == true ? "form-control" : "form-control required inputdate",
                                         tabindex = 3,
                                         onchange = "loadPaymentReceipts()"
                                    })
                                @*@Html.TextBoxFor(x => x.Date, Model.Date.ToString("d"), new
                                    {
                                         @class = isViewMode == true ? "form-control" : "form-control required inputdate",
                                         tabindex = 3
                                    })*@
                                @Html.ValidationMessageFor(x => x.Date)
                            </div>
                            <label class="col-sm-2 control-label">@GlobalResource.Description</label>
                            <div class="col-sm-4">
                                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", tabindex = 4 })
                                @Html.ValidationMessageFor(x => x.Description)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">@PaymentResource.PaymentOption <span class="text-danger">&nbsp;*</span></label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.PaymentOptionID, Model.PaymentOptionList, GlobalResource.DropDownSelectMessage, new { @class = "form-control select2dropdown required", tabindex = 5, onchange = "loadPaymentReceipts()" })
                                @Html.ValidationMessageFor(x => x.PaymentOptionID)
                            </div>
                            @*<label class="col-sm-2 control-label">@PaymentResource.FinanceCheckbook <span class="text-danger">&nbsp;*</span></label>
                                <div class="col-sm-4">
                                    @Html.DropDownListFor(x => x.FinanceCheckbookID, new SelectList(Model.FinanceCheckbookList, "ID", "Name"), GlobalResource.DropDownSelectMessage, new { @class = "form-control select2dropdown required", tabindex = 6 })
                                    @Html.ValidationMessageFor(x => x.FinanceCheckbookID)
                                </div>*@
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive m-t project-list">
                                    <table class="table table-multi-row footable" id="tblClosingEntry" data-page-limit="3" data-page-size='@pagesize' data-sorting="false">
                                        <thead>
                                            <tr>
                                                @if (!(isViewMode.HasValue && isViewMode.Value))
                                                {
                                                    <th class="col-lg-1 text-center"
                                                        data-receiptcount="@Model.PostedPaymentReceiptList.Count()"
                                                        data-netclosing="@Model.PostedPaymentReceiptList.Sum(d=>d.NetPayment)"
                                                        data-totalcash="@Model.PostedPaymentReceiptList.Sum(d=>d.TotalCash)"
                                                        data-totalchequedelbanconacional="@Model.PostedPaymentReceiptList.Sum(d=>d.TotalChequedelBancoNacional)"
                                                        data-totalcreditcard="@Model.PostedPaymentReceiptList.Sum(d=>d.TotalCreditCard)"
                                                        data-totalbanktransfer="@Model.PostedPaymentReceiptList.Sum(d=>d.TotalBankTransfer)"
                                                        data-totalchequedelbancodecostarica="@Model.PostedPaymentReceiptList.Sum(d=>d.TotalChequedelBancodeCostaRica)"
                                                        data-totaladjustment="@Model.PostedPaymentReceiptList.Sum(d=>d.TotalAdjustment)"
                                                        data-totalbank="@Model.PostedPaymentReceiptList.Sum(d=>d.TotalBank)"
                                                        data-totalBankTransferByBancoNacionaldeCostaRica="@Model.PostedPaymentReceiptList.Sum(d=>d.TotalBankTransferByBancoNacionaldeCostaRica)"
                                                        data-sort-ignore="true">
                                                        @Html.CheckBox("SelectedReceiptAll", false, new { onclick = "onReceiptSelectAll(this)", tabindex = "6" })
                                                    </th>
                                                }
                                                <th class="col-lg-2" data-sort-ignore="true">
                                                    @GlobalResource.Date
                                                </th>
                                                <th class="col-lg-3" data-sort-ignore="true">
                                                    @GlobalResource.Account
                                                </th>
                                                <th class="text-left col-lg-2" data-sort-ignore="true">
                                                    @GlobalResource.PaymentReceipt
                                                </th>
                                                <th class="text-left col-lg-2" data-sort-ignore="true">
                                                    @PaymentResource.PaymentOption
                                                </th>
                                                <th class="text-right col-md-2" data-sort-ignore="true">
                                                    @LocalResource.ReceiptAmount
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="receiptRows">
                                            @{
                                                ViewBag.IsViewMode = isViewMode;
                                                Html.RenderPartial("~/Areas/Collections/Views/ClosingEntry/_PaymentReceiptList.cshtml", Model.PostedPaymentReceiptList);
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="7">
                                                    <ul class="pagination pull-right"></ul>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-8 pull-right padding-sm">
                                <table class="table invoice-total" id="paymentFooter">
                                    <tbody>
                                        <tr>
                                            <td class="font-bold text-right">@LocalResource.TotalPaymentReceipts :</td>
                                            <td class="text-left">
                                                @Html.HiddenFor(x => Model.PaymentReceiptCount, new { @class = "spnFooterAmount" })
                                                <span id="spnPaymentReceiptCount" class="spnFooterAmount">@Model.PaymentReceiptCount</span>
                                            </td>
                                            <td class="font-bold text-left">@GlobalResource.Total :</td>
                                            <td class="text-right">
                                                @Html.HiddenFor(x => Model.NetClosing, new { @class = "spnFooterAmount" })
                                                <span id="spnNetClosing" class="spnFooterAmount">@Model.NetClosing.ToString("c")</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="ibox-content hidden">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="col-lg-3">@PaymentResource.TotalCash : </label>
                                            <div class="col-lg-2">
                                                @Html.HiddenFor(x => Model.TotalCash, new { @class = "spnFooterAmount" })
                                                <span id="spnTotalCash" class="spnFooterAmount">@Model.TotalCash.ToString("c")</span>
                                            </div>
                                            <label class="col-lg-4">@PaymentResource.TotalChequedelBancoNacional : </label>
                                            <div class="col-lg-2">
                                                @Html.HiddenFor(x => Model.TotalChequedelBancoNacional, new { @class = "spnFooterAmount" })
                                                <span id="spnTotalChequedelBancoNacional" class="spnFooterAmount">@Model.TotalChequedelBancoNacional.ToString("c")</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3">@PaymentResource.TotalCreditCard : </label>
                                            <div class="col-lg-2">
                                                @Html.HiddenFor(x => Model.TotalCreditCard, new { @class = "spnFooterAmount" })
                                                <span id="spnTotalCreditCard" class="spnFooterAmount">@Model.TotalCreditCard.ToString("c")</span>
                                            </div>
                                            <label class="col-lg-4">@PaymentResource.TotalBankTransferByBancodeCostaRica : </label>
                                            <div class="col-lg-2">
                                                @Html.HiddenFor(x => Model.TotalBankTransfer, new { @class = "spnFooterAmount" })
                                                <span id="spnTotalBankTransfer" class="spnFooterAmount">@Model.TotalBankTransfer.ToString("c")</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3">@PaymentResource.TotalChequedelBancodeCostaRica : </label>
                                            <div class="col-lg-2">
                                                @Html.HiddenFor(x => Model.TotalChequedelBancodeCostaRica, new { @class = "spnFooterAmount" })
                                                <span id="spnTotalChequedelBancodeCostaRica" class="spnFooterAmount">@Model.TotalChequedelBancodeCostaRica.ToString("c")</span>
                                            </div>
                                            <label class="col-lg-4">@PaymentResource.TotalAdjustment : </label>
                                            <div class="col-lg-2">
                                                @Html.HiddenFor(x => Model.TotalAdjustment, new { @class = "spnFooterAmount" })
                                                <span id="spnTotalAdjustment" class="spnFooterAmount">@Model.TotalAdjustment.ToString("c")</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-3">@PaymentResource.TotalBank : </label>
                                            <div class="col-lg-2">
                                                @Html.HiddenFor(x => Model.TotalBank, new { @class = "spnFooterAmount" })
                                                <span id="spnTotalBank" class="spnFooterAmount">@Model.TotalBank.ToString("c")</span>
                                            </div>
                                            <label class="col-lg-4">@PaymentResource.TotalBankTransferByBancoNacionaldeCostaRica : </label>
                                            <div class="col-lg-2">
                                                @Html.HiddenFor(x => Model.TotalBankTransferByBancoNacionaldeCostaRica, new { @class = "spnFooterAmount" })
                                                <span id="spnTotalBankTransferByBancoNacionaldeCostaRica" class="spnFooterAmount">@Model.TotalBankTransferByBancoNacionaldeCostaRica.ToString("c")</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.RowVersion64)
                        @Html.HiddenFor(m => m.RowVersion)
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="voidConfirmModal" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md">
        @using (Ajax.BeginForm("Void", "ClosingEntry", new AjaxOptions { HttpMethod = "POST", OnSuccess = "VoidSuccessCallback(data)" }, new { role = "form", id = "frmVoid", @class = "form-horizontal", data_ajax_mode = "replace-with" }))
        {
            <div class="modal-content animated fadeIn" id="dvextensionModal">
                <div class="modal-body no-padding">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5> @LocalResource.VoidEntry </h5>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@GlobalResource.Close</span></button>
                        </div>
                        <div class="ibox-content">
                            <div class="row form-group">
                                <label class="col-lg-3 control-label">@GlobalResource.VoidReason <span class="text-danger">*</span></label>
                                <div class="col-lg-9">
                                    @Html.TextAreaFor(x => x.VoidReason, new { @class = "form-control required", rows = "3", tabindex = 1 })
                                    @Html.ValidationMessageFor(x => x.VoidReason)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnVoid" type="submit" name="actionType" value="2" tabindex="2" class="btn btn-primary">@LocalResource.VoidEntry </button>
                    <button id="btnCancel" type="button" class="btn btn-white closemodal" data-dismiss="modal" tabindex="3">@GlobalResource.Cancel</button>
                </div>
            </div>
            @Html.HiddenFor(x => x.ID)
            @Html.HiddenFor(x => x.RowVersion)
        }
    </div>
</div>
@section Styles{

    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    <style>
        #paymentFooter.table > tbody > tr > td {
            border: none;
            text-align: right;
            font-weight: 600;
        }

        #paymentOptionFooter.table > tbody > tr > td {
            border: none;
            text-align: left;
            font-weight: 600;
        }

        .disable-anchor {
            pointer-events: none;
            cursor: default;
        }
    </style>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/footable")
    <script src='@Url.Content("~/Scripts/app/closingentryadd.js")'></script>
    <script src='@Url.Content("~/Scripts/app/closingentryview.js")'></script>
    <script type="text/javascript">
        var
        valMinOneReceipt = '@Html.Raw(LocalResource.ValMinOneReceipt)';
        swalTitleText = '@Html.Raw(GlobalResource.SureMessage)';
        cancelBtnText = '@Html.Raw(GlobalResource.Cancel)';
        CloseEntry = '@Html.Raw(LocalResource.CloseEntry)';
        ValClosingAmount = '@Html.Raw(LocalResource.ValClosingAmount)';
        var isViewMode = '@isViewMode';
        var voidEntry = '@Html.Raw(LocalResource.VoidEntry)';
        var paymentreceiptlistCount = '@paymentreceiptlistcount';
        var pagesize = '@pagesize';
        var viewPageRedirectURL = '@Url.Action("View","ClosingEntry" , new { ID = Model.ID })';
    </script>
}