<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ArtSolutions.MUN.Web.Resources.Global.ProjectTitle</title>
    <style>
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/printStyle.css")))
    </style>
    @RenderSection("Styles", required: false)
</head>
<body class="white-bg">
    <div id="divPrint">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
