@model ArtSolutions.MUN.Web.Areas.Services.Models.ServiceCollectionTemplateModel
@using LocalResource = ArtSolutions.MUN.Web.Resources.ServiceCollectionTemplate
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global

@using (Ajax.BeginForm("Save", "CollectionTemplate", new AjaxOptions { HttpMethod = "POST", OnSuccess = "SaveTemplateSuccessCallback(data)" }, new { role = "form", id = "frmCollectionTemplate", @class = "form-horizontal", data_ajax_mode = "replace-with" }))
{
    <div class="ibox-title ibox-title-with-button">
        <h5>@ViewBag.Title</h5>
        <div class="ibox-tools">
         @if (Model.ID == 0)
           {
                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" tabindex="4">@GlobalResource.Save <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a><button id="btnSave" type="submit" name="actionType" value="1" tabindex="5">@GlobalResource.Save</button></a></li>
                        <li><a><button id="btnSaveNew" type="submit" name="actionType" value="2" tabindex="6">@GlobalResource.SaveNew</button></a></li>
                    </ul>
                </div>
            }
            else
            {
                <button id="btnSave" class="btn btn-primary"  type="submit" name="actionType" value="1" tabindex="5">@GlobalResource.Save</button>
            }
            <button class="btn btn-white" type="button" onclick="window.location.href = '@Url.Action("List", "CollectionTemplate")';" tabindex="7">@GlobalResource.Cancel</button>
        </div>
    </div>
    <div class="ibox-content">
        <div class="form-group">
            <label class="col-lg-2 control-label">@GlobalResource.Name <span class="text-danger">*</span> </label>
            <div class="col-lg-6 ">
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control required", @id = "txtTemplateName", tabindex = 1 })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">@GlobalResource.Description </label>
            <div class="col-lg-6 ">
                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", tabindex = 2 })                
            </div>
        </div>
        <div id="dvPanelList">
            @Html.Partial("_PanelList", Model)
        </div>
    </div>
    @Html.HiddenFor(x => x.ID)
    @Html.HiddenFor(x => x.RowVersion)
}
