@model ArtSolutions.MUN.Web.Areas.Reports.Models.ReceiptPermissionFeesModel
@using LocalResource = ArtSolutions.MUN.Web.Resources.Report
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global
@{
    ViewBag.Title = LocalResource.ReceiptPermissionFessTitle;
    var msoNumberFormat = ArtSolutions.MUN.Web.Helpers.UserSession.Current.DecimalPoints > 0 ? string.Format(@"mso-number-format:'\#\,\#\#0\.{0}'", @Common.FormatDecimalPoints) : "mso-number-format:\"" + @"\#\,\#\#0\";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> @ViewBag.Title </title>
    <style>
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/printStyle.css")))
        @@page {
            size: landscape;
        }
    </style>
</head>
<body class="white-bg">
    <div id="divPrint" class="wrapper wrapper-content p-xl">
        @{
            Html.RenderPartial("~/Areas/Reports/Views/Shared/_CommonHeader.cshtml", Model.ReportCompanyModel);
        }
        <table cellspacing="0" class="report-Table">
            <thead>
                <tr>
                    <th width="8%" class="table-border-center-th">@GlobalResource.Date</th>
                    <th width="8%" class="table-border-center-th">@GlobalResource.ReceiptNumber</th>
                    <th width="8%" class="table-border-center-th">@GlobalResource.IdentityMunicipal</th>
                    <th width="8%" class="table-border-center-th">@GlobalResource.Name</th>                    
                    <th width="9%" class="table-border-center-th">@LocalResource.TariffType</th>                    
                    <th width="9%" class="table-border-center-th">@GlobalResource.PaidAmount</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ReceiptPermissionFeesList != null && Model.ReceiptPermissionFeesList.Count() > 0)
                {
                    int currentIndex = 0;
                    foreach (var item in Model.ReceiptPermissionFeesList.OrderBy(g => g.Date))
                    {
                <tr>
                    <td class="table-border-left-td">
                        @item.FormattedDate
                    </td>
                    <td class="table-border-left-td">
                        @item.ReceiptNumber
                    </td>
                    <td class="table-border-left-td">
                        @item.AccountRegisterNumber
                    </td>
                    <td class="table-border-left-td">
                        @item.AccountDisplayName
                    </td>
                    <td class="table-border-left-td">
                        @item.TypeName
                    </td>                    
                    <td class="table-border-right-td" style='@msoNumberFormat'>
                        @item.PaidAmount.ToString(Common.NumberPoints)
                    </td>
                </tr>
                        if (currentIndex != Model.ReceiptPermissionFeesList.Count() - 1)
                        {
                            if (item.Date.ToString("MM/dd/yyyy") != Model.ReceiptPermissionFeesList[currentIndex + 1].Date.ToString("MM/dd/yyyy"))
                            {
                                <tr>
                                    <td colspan="5" class="table-bg-bold-right-td"> @GlobalResource.Total - @item.Date.ToString("d")  </td>
                                    <td class="table-bg-bold-right-td" style='@msoNumberFormat'>
                                        @Model.ReceiptPermissionFeesList.Where(e => e.Date.ToString("MM/dd/yyyy") == Model.ReceiptPermissionFeesList[currentIndex].Date.ToString("MM/dd/yyyy")).Sum(i => i.PaidAmount).ToString(Common.NumberPoints)
                                    </td>                                   
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="table-bg-bold-right-td"> @GlobalResource.Total - @item.Date.ToString("d")  </td>
                                <td class="table-bg-bold-right-td" style='@msoNumberFormat'>
                                    @Model.ReceiptPermissionFeesList.Where(e => e.Date.ToString("MM/dd/yyyy") == Model.ReceiptPermissionFeesList[currentIndex].Date.ToString("MM/dd/yyyy")).Sum(i => i.PaidAmount).ToString(Common.NumberPoints)
                                </td>
                            </tr>
                        }
                        currentIndex++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6" class="table-bg-bold-center-td">
                            <center> @GlobalResource.NoDataMessage </center>
                        </td>
                    </tr>
                }           
                <tr>
                    <td colspan="5" class="table-bg-bold-right-td"> @GlobalResource.Total  </td>
                    <td class="table-bg-bold-right-td">
                        @if (Model.ReceiptPermissionFeesList != null && Model.ReceiptPermissionFeesList.Count() > 0)
                        {
                            @Model.ReceiptPermissionFeesList.Sum(i => i.PaidAmount).ToString(Common.NumberPoints)
                        }
                        else
                        {
                            @Html.Raw("0.00")
                        }
                    </td>                  
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>