@model ArtSolutions.MUN.Web.Areas.Reports.Models.ReceiptByBankModel
@using LocalResource = ArtSolutions.MUN.Web.Resources.Report
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global
@{
    ViewBag.Title = LocalResource.ReceiptByBankTitle;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> @ViewBag.Title</title>
    <style>
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/printStyle.css")))
        @@page {
            size: landscape;
        }
    </style>
</head>
<body class="white-bg">
    <div id="divPrint" class="wrapper wrapper-content p-xl">
        @{
            Html.RenderPartial("~/Areas/Reports/Views/Shared/_CommonHeader.cshtml", Model.ReportCompanyModel);
        }
        <table cellspacing="0" class="report-Table">
            <tbody>
                <tr>
                    <th width="35%" colspan="3" class="table-border-left-th">@GlobalResource.Bank</th>
                    <th width="65%" colspan="10" class="table-border-left-th">@GlobalResource.BankAccount</th>
                </tr>
                @if (Model.ReceiptByBankList != null && Model.ReceiptByBankList.Count() > 0)
                {
                    foreach (var item in Model.ReceiptByBankList)
                    {
                        <tr>
                            <td colspan="3" class="table-border-left-td">
                                @item.BankName
                            </td>
                            <td colspan="10" class="table-border-left-td">
                                @item.BankAccount
                            </td>
                        </tr>
                        <tr>
                            <td colspan="13">
                                @Html.Partial("~/Areas/Reports/Views/Report/PaymentReceipt/ExportTemplate/_ReceiptByBankListListTemplate.cshtml", item.BankAccountList)
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="table-bg-bold-center-td" colspan="13">
                            <center> @GlobalResource.NoDataMessage</center>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>