@model ArtSolutions.MUN.Web.Areas.Reports.Models.IVUCollectionDetailModel
@using ReportResource = ArtSolutions.MUN.Web.Resources.Report
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global

@{
    ViewBag.Title = ReportResource.IVUCollectionDetailTitle;
    var msoNumberFormat = ArtSolutions.MUN.Web.Helpers.UserSession.Current.DecimalPoints > 0 ? string.Format(@"mso-number-format:'\#\,\#\#0\.{0}'", @Common.FormatDecimalPoints) : "mso-number-format:\"" + @"\#\,\#\#0\";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> @ViewBag.Title </title>
    <style>
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/printStyle.css")))
        @@page {
            size: landscape;
        }
    </style>
</head>
<body class="white-bg">
    <div id="divPrint" class="wrapper wrapper-content p-xl">
        @{
            Html.RenderPartial("~/Areas/Reports/Views/Shared/_CommonHeader.cshtml", Model.ReportCompanyModel);
        }
        <table cellspacing="0" class="report-Table">
            <thead>
                <tr>
                    <th width="7%" class="table-border-center-th">@ReportResource.CustomerNumber</th>
                    <th width="16%" class="table-border-center-th">@GlobalResource.Name</th>
                    <th width="7%" class="table-border-center-th">@GlobalResource.Period</th>
                    <th width="7%" class="table-border-center-th">@GlobalResource.PaymentReceipt</th>
                    <th width="7%" class="table-border-center-th">@GlobalResource.Date</th>
                    <th width="7%" class="table-border-center-th">@ReportResource.TotalUse</th>
                    <th width="7%" class="table-border-center-th">@ReportResource.TotalTaxableTributable</th>
                    <th width="7%" class="table-border-center-th">@ReportResource.TotalSubjectToIVU</th>
                    <th width="7%" class="table-border-center-th">@ReportResource.TotalIVUMunicipalTax</th>
                    <th width="7%" class="table-border-center-th">@ReportResource.TotalIVUTaxToPay</th>
                    <th width="7%" class="table-border-center-th">@ReportResource.TotalPaid</th>
                    <th width="7%" class="table-border-center-th">@ReportResource.Balance </th>
                    <th width="7%" class="table-border-center-th">@ReportResource.User </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.IVUCollectionDetailList != null && Model.IVUCollectionDetailList.Count() > 0)
                {
                    foreach (var GroupItem in Model.IVUCollectionDetailList.GroupBy(d => d.FillingDate).Select(d => d.Key).ToList())
                    {
                        foreach (var item in Model.IVUCollectionDetailList.Where(d => d.FillingDate == GroupItem))
                        {
                            <tr>
                                <td class="table-border-left-td">
                                    @item.AccountId
                                </td>
                                <td class="table-border-left-td">
                                    @item.AccountName
                                </td>
                                <td class="table-border-center-td">
                                    @item.FormattedPeriod
                                </td>
                                <td class="table-border-center-td">
                                    @Html.Raw(item.FormattedReceiptNumber)
                                </td>
                                <td class="table-border-center-td">
                                    @Html.Raw(item.FormattedPaymentDate)
                                </td>
                                <td class="table-border-right-td" style='@msoNumberFormat'>
                                    @item.TotalUse.ToString(Common.NumberPoints)
                                </td>
                                <td class="table-border-right-td" style='@msoNumberFormat'>
                                    @item.TotalTaxable.ToString(Common.NumberPoints)
                                </td>
                                <td class="table-border-right-td" style='@msoNumberFormat'>
                                    @item.TotalSubjectToIVU.ToString(Common.NumberPoints)
                                </td>
                                <td class="table-border-right-td" style='@msoNumberFormat'>
                                    @item.MunicipalTax.ToString(Common.NumberPoints)
                                </td>
                                <td class="table-border-right-td" style='@msoNumberFormat'>
                                    @item.PayableTax.ToString(Common.NumberPoints)
                                </td>
                                <td class="table-border-right-td" style='@msoNumberFormat'>
                                    @item.TotalPaid.ToString(Common.NumberPoints)
                                </td>
                                <td class="table-border-right-td" style='@msoNumberFormat'>
                                    @item.Balance.ToString(Common.NumberPoints)
                                </td>
                                <td class="table-border-left-td">
                                    @item.FormattedUser
                                </td>
                            </tr>

                        }
                        <tr>
                            <td colspan="8" class="table-bg-bold-right-td"> @ReportResource.TotalNoOfFillingOn @GroupItem.Value.ToLongDateString() :</td>
                            <td class="table-bg-bold-right-td"> @Model.IVUCollectionDetailList.Where(d => d.FillingDate == GroupItem).Count() </td>
                            <td colspan="4" class="table-bg-bold-right-td"></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="13" class="bold">
                            <center> @GlobalResource.NoDataMessage </center>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="8" class="table-bg-bold-right-td"> @ReportResource.TotalNoOfFillingOn @Model.EndPeriodDate.ToLongDateString() :</td>
                    <td class="table-bg-bold-right-td"> @Model.IVUCollectionDetailList.Count </td>
                    <td colspan="4" class="table-bg-bold-right-td"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>