@model ArtSolutions.MUN.Web.Areas.Accounts.Models.AccountServiceNoteModel
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global
@using LocalResource = ArtSolutions.MUN.Web.Resources.AccountService

@using (Ajax.BeginForm("AddNote", "AccountService", new AjaxOptions { HttpMethod = "POST", OnSuccess = "NoteSuccessCallback(data)" }, new { role = "form", id = "frmAccountService_Note", @class = "form-horizontal", data_ajax_mode = "replace-with" }))
{
    <div class="modal-body no-padding">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5> @GlobalResource.Notes </h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@GlobalResource.Close</span></button>
            </div>
            <div class="ibox-content">
                <div class="row form-group">
                    <label class="col-lg-2 control-label">@GlobalResource.Note <span class="text-danger">*</span></label>
                    <div class="col-lg-10 m-t-xs">
                        @Html.TextAreaFor(x => x.Note, new { @class = "required form-control", @id = "txtAccountServiceNote" })
                        @Html.ValidationMessageFor(x => x.Note)
                    </div>
                </div>
            </div>
            @*Hidden Fields*@
            @Html.HiddenFor(x => x.AccountServiceID)
        </div>
    </div>
    <div class="modal-footer">
        <button id="btnAddNote" type="submit" class="btn btn-primary">@GlobalResource.Add</button>
        <button id="btnCancel" type="button" class="btn btn-white closemodal" data-dismiss="modal">@GlobalResource.Cancel</button>
    </div>
}
