@model IEnumerable<ArtSolutions.MUN.Web.Areas.Accounts.Models.AccountServiceCollectionPaymentHistoryModel>
@using ArtSolutions.MUN.Web.Areas.Accounts.Models
@using LocalResource = ArtSolutions.MUN.Web.Resources.AccountService
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global
@using ArtSolutions.MUN.Web.Helpers;

<div class="table-responsive m-t">
    <table class="table" data-page="false">
        <thead>
            <tr>
                <th class="col-lg-2 text-left"> @LocalResource.ServicePeriodList </th>
                <th class="col-lg-2 text-left"> @GlobalResource.ReceiptNumber</th>
                <th class="col-lg-2 text-left">@LocalResource.PaymentHistoryDate</th>
                <th class="col-lg-2 text-right">@LocalResource.AmountPaid</th>
                <th class="col-lg-2 text-right">@LocalResource.CreditApplied</th>
                <th class="col-lg-2 text-right">@LocalResource.CreditBalance</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td class="col-lg-12" colspan="6">
                        <center>@GlobalResource.NoDataMessage</center>
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="col-lg-2 text-left" align="left">
                            @*@item.ServiceName - @Html.Raw(String.Format(new System.Globalization.CultureInfo(UserSession.Current.Language),"{0:MMMM, yyyy}", item.DueDate))*@
                            @if (item.FrequencyID < 6)
                            {
                                @Html.Raw(@item.ServiceName + " - " + String.Format(new System.Globalization.CultureInfo(UserSession.Current.Language), "{0:MMMM yyyy}", item.DueDate))
                            }
                            else
                            {
                                @item.ItemDescription
                            }
                        </td>
                        <td class="col-lg-2 text-left" align="left">
                            <a target="_blank" href='@Url.Action("View", "Payment", new { area = "Collections", @ID = item.PaymentID, @Type = item.PaymentType, @TypeID = item.ServiceTypeID })'> @item.PaymentNumber </a>
                        </td>
                        <td class="col-lg-2 text-left" align="left">
                            @Html.Raw(String.Format(new System.Globalization.CultureInfo(UserSession.Current.Language), "{0:MMMM d, yyyy}", item.PaymentDate))
                        </td>
                        <td class="col-lg-2 text-right">
                            @item.AmountPaid.ToString("C")
                        </td>
                        <td class="col-lg-2 text-right">
                            @item.FormattedApplyCreditAmount
                        </td>
                        <td class="col-lg-2 text-right">
                            @item.FormattedAvailableCreditAmount
                        </td>
                    </tr>
                }                
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"></td>
                <td class="text-right"><strong>@GlobalResource.Total.ToUpper() : </strong></td>
                <td class="text-right font-bold border-bottom">
                    @Model.Sum(e => e.AmountPaid).ToString("C")
                </td>
                <td class="text-right font-bold border-bottom">
                    @Model.Sum(e => e.ApplyCreditAmount ?? 0).ToString("C")
                </td>
                <td class="text-right font-bold border-bottom">
                    @Model.Sum(e => e.AvailableCreditAmount ?? 0).ToString("C")
                </td>
            </tr>
        </tfoot>
    </table>
</div>
