@model ArtSolutions.MUN.Web.Areas.Accounts.Models.AccountServiceDebtModel
@using ArtSolutions.MUN.Web.Areas.Accounts.Models
@using LocalResource = ArtSolutions.MUN.Web.Resources.AccountService
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global

<div class="full-height-scroll">
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-1 padding-bottom-5">
                <button type="button" class="btn btn-white btn-sm" value="@GlobalResource.Refresh" onclick="refreshDebtList(@Model.AccountServiceId)"><i class="fa fa-refresh"></i> @GlobalResource.Refresh</button>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-3 padding-bottom-5">
                @Html.DropDownList("ddlDetail", Model.CollectionDetailNameList, GlobalResource.All, new { @class = "form-control select2dropdown", @id = "ddlDetail", data_accountserviceid = Model.AccountServiceId })
            </div>
            <div class="col-sm-6 col-md-6 col-lg-8 padding-bottom-5">
                <input type="button" class="btn btn-primary btn-group-sm btn-sm" value="@GlobalResource.Go" onclick="filterDebtList()">
            </div>
        </div>
        <div id="collectiondebtlist" class="table-responsive">
            @Html.Partial("~/Areas/Accounts/Views/AccountService/_CollectionDebt.cshtml", Model.CollectionDebt)
        </div>
    </div>
</div>