@model List<ArtSolutions.MUN.Web.Areas.Accounts.Models.ServiceTypeModel>
@using LocalResource = ArtSolutions.MUN.Web.Resources.AccountService;

<div class="full-height-scroll-type">
    <div class="row row-flex">
        @foreach (var item in Model)
        {
            <div onclick="selectServiceType(@item.ID);" class="col-sm-4 col-md-4 col-lg-2 clsChannels text-center serviceType m-t-lg">
                <div class="dim required" value="@item.ID">
                    @if (item.IconClass == null)
                    {
                        <i id="@item.ID" class="btn fa fa-phone-square" aria-hidden="true" data-val="@item.Name"></i>
                    }
                    else
                    {
                        <i id="@item.ID" class="btn btn-default-reverse @item.IconClass" aria-hidden="true" data-val="@item.Name"></i>
                    }
                    <label for="@item.ID" class="font-bold">
                        @item.Name
                    </label>
                </div>
            </div>
        }
    </div>
</div>