@model ArtSolutions.MUN.Web.Areas.Reports.Models.CollectionDailyIncomeProduceBankModel
@using System.Globalization
@using ArtSolutions.MUN.Web.Helpers
@using ReportResource = ArtSolutions.MUN.Web.Resources.Report
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global

@{
    ViewBag.Title = ReportResource.DailyIncomeProduceBankTitle;
    var msoNumberFormat = UserSession.Current.DecimalPoints > 0 ? string.Format(@"mso-number-format:'\#\,\#\#0\.{0}'", @Common.FormatDecimalPoints) : "mso-number-format:\"" + @"\#\,\#\#0\";
    var msoTextFormat = @"mso-number-format:'\@'";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <style>
        @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/printStyle.css")))

        @Html.Raw("@@page {size: landscape;}")
    </style>
</head>
<body>
    <div id="divPrint" class="wrapper wrapper-content p-xl">

        @{
            Html.RenderPartial("~/Areas/Reports/Views/Shared/_CommonHeader.cshtml", Model.ReportCompanyModel);
        }
        @if (!string.IsNullOrEmpty(Model.ServicesNames))
        {
            <table cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td colspan="@Model.ReportCompanyModel.NumberOfReportColumns">
                            <strong>@GlobalResource.ServiceName: </strong>@Model.ServicesNames
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="@Model.ReportCompanyModel.NumberOfReportColumns">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        }
        @if (!string.IsNullOrEmpty(Model.BankeNames))
        {
            <table cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td colspan="@Model.ReportCompanyModel.NumberOfReportColumns">
                            <strong>@GlobalResource.Bank: </strong>@Model.BankeNames
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="@Model.ReportCompanyModel.NumberOfReportColumns">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        }
        @if (!string.IsNullOrEmpty(Model.ContractNames))
        {
            <table cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td colspan="@Model.ReportCompanyModel.NumberOfReportColumns">
                            <strong>@GlobalResource.Agreement: </strong>@Model.ContractNames
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="@Model.ReportCompanyModel.NumberOfReportColumns">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        }
        <table cellspacing="0" class="report-Table">
            <thead>
                <tr>
                    <th width="15%" class="table-border-center-th">@GlobalResource.Code</th>
                    <th width="25%" class="table-border-center-th">@GlobalResource.Name</th>
                    <th width="15%" class="table-border-center-th">@ReportResource.DailyCharges</th>
                    <th width="15%" class="table-border-center-th">@ReportResource.DailyInterest</th>
                    <th width="15%" class="table-border-center-th">@ReportResource.PrincipalAmount</th>
                    <th width="15%" class="table-border-center-th">@ReportResource.DailyIncome</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DailyIncomeProduceBankList != null && Model.DailyIncomeProduceBankList.Count() > 0)
                {
                    foreach (var item in Model.DailyIncomeProduceBankList.GroupBy(d => d.Code1).Select(d => new { Code = d.Key, Charges = d.Sum(k => k.Charges), Interest = d.Sum(k => k.Interest), Payment = d.Sum(k => k.Payment) }).ToList())
                    {
                        foreach (var objItem in Model.DailyIncomeProduceBankList.Where(d => d.Code1 == item.Code))
                        {
                            if (((objItem.Payment ?? 0) - (objItem.Charges ?? 0)) > 0)
                            {
                                <tr>
                                    <td class="table-border-center-td" style="@msoTextFormat">
                                        @Html.Raw(objItem.Code1 + " " + objItem.Code2)
                                    </td>
                                    <td class="table-border-center-td">
                                        @Html.Raw(objItem.Name)
                                    </td>
                                    <td class="table-border-center-td" style='@msoNumberFormat'>
                                        @Html.Raw(0.ToString(Common.NumberPoints))
                                    </td>
                                    <td class="table-border-center-td" style='@msoNumberFormat'>
                                        @Html.Raw(objItem.Interest.HasValue ? objItem.Interest.Value.ToString(Common.NumberPoints) : 0.ToString(Common.NumberPoints))
                                    </td>
                                    <td class="table-border-center-td" style='@msoNumberFormat'>
                                        @if (objItem.Code1 + objItem.Code2 == "131105000000007")
                                        {
                                            @Html.Raw(((objItem.Payment ?? 0) + (Model.DailyIncomeProduceBankList.Sum(x => x.Charges) ?? 0) - (objItem.Charges ?? 0) - (objItem.Interest ?? 0)).ToString(Common.NumberPoints))
                                        }
                                        else
                                        {
                                            @Html.Raw((((objItem.Payment ?? 0) - (objItem.Charges ?? 0)) - (objItem.Interest ?? 0)).ToString(Common.NumberPoints))
                                        }
                                    </td>
                                    <td class="table-border-center-td" style='@msoNumberFormat'>
                                        @if (objItem.Code1 + objItem.Code2 == "131105000000007")
                                        {
                                            @Html.Raw(((objItem.Payment ?? 0) + (Model.DailyIncomeProduceBankList.Sum(x => x.Charges) ?? 0) - (objItem.Charges ?? 0)).ToString(Common.NumberPoints))
                                        }
                                        else
                                        {
                                            @Html.Raw(((objItem.Payment ?? 0) - (objItem.Charges ?? 0)).ToString(Common.NumberPoints))
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        if (item.Code == "1311050000000" && Model.DailyIncomeProduceBankList.Where(d => d.Code1 + d.Code2 == "131105000000007").Count() == 0)
                        {
                            if ((Model.DailyIncomeProduceBankList.Sum(x => x.Charges) ?? 0) > 0)
                            {
                                <tr>
                                    <td class="table-border-center-td" style="@msoTextFormat">
                                        131105000000007
                                    </td>
                                    <td class="table-border-center-td">
                                        IVA AGUA MEDIDA
                                    </td>
                                    <td class="table-border-center-td" style='@msoNumberFormat'>
                                        @Html.Raw(0.ToString(Common.NumberPoints))
                                    </td>
                                    <td class="table-border-center-td" style='@msoNumberFormat'>
                                        @Html.Raw(0.ToString(Common.NumberPoints))
                                    </td>
                                    <td class="table-border-center-td" style='@msoNumberFormat'>
                                        @Html.Raw((Model.DailyIncomeProduceBankList.Sum(x => x.Charges) ?? 0).ToString(Common.NumberPoints))
                                    </td>
                                    <td class="table-border-center-td" style='@msoNumberFormat'>
                                        @Html.Raw((Model.DailyIncomeProduceBankList.Sum(x => x.Charges) ?? 0).ToString(Common.NumberPoints))
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td class="table-bold-right-td" colspan="2" style="@msoTextFormat">
                                @Html.Raw(ReportResource.TotalCode + ": " + item.Code)
                            </td>
                            <td class="table-bold-center-td" style='@msoNumberFormat'>
                                @Html.Raw(0.ToString(Common.NumberPoints))
                            </td>
                            <td class="table-bold-center-td" style='@msoNumberFormat'>
                                @Html.Raw(item.Interest.HasValue ? item.Interest.Value.ToString(Common.NumberPoints) : 0.ToString(Common.NumberPoints))
                            </td>
                            <td class="table-bold-center-td" style='@msoNumberFormat'>
                                @if (item.Code == "1311050000000")
                                {
                                    @Html.Raw(((Model.DailyIncomeProduceBankList.Where(d => d.Code1 == item.Code).Sum(x => x.Payment) ?? 0) + (Model.DailyIncomeProduceBankList.Where(d => d.Code1 != item.Code).Sum(x => x.Charges) ?? 0) - ((Model.DailyIncomeProduceBankList.Where(d => d.Code1 == item.Code).Sum(x => x.Interest) ?? 0))).ToString(Common.NumberPoints))
                                }
                                else
                                {
                                    @Html.Raw(((Model.DailyIncomeProduceBankList.Where(d => d.Code1 == item.Code).Sum(x => x.Payment) ?? 0) - ((Model.DailyIncomeProduceBankList.Where(d => d.Code1 == item.Code).Sum(x => x.Charges) ?? 0) + (Model.DailyIncomeProduceBankList.Where(d => d.Code1 == item.Code).Sum(x => x.Interest) ?? 0))).ToString(Common.NumberPoints))
                                }
                            </td>
                            <td class="table-bold-center-td" style='@msoNumberFormat'>
                                @if (item.Code == "1311050000000")
                                {
                                    @Html.Raw(
                                       (
                                           (Model.DailyIncomeProduceBankList.Where(d => d.Code1 == item.Code).Sum(x => x.Payment) ?? 0)
                                                     +
                                           (Model.DailyIncomeProduceBankList.Where(d => d.Code1 != item.Code).Sum(x => x.Charges) ?? 0)
                                       ).ToString(Common.NumberPoints)
                                  )

                                }
                                else
                                {
                                    @Html.Raw(((Model.DailyIncomeProduceBankList.Where(d => d.Code1 == item.Code).Sum(x => x.Payment) ?? 0) - (Model.DailyIncomeProduceBankList.Where(d => d.Code1 == item.Code).Sum(x => x.Charges) ?? 0)).ToString(Common.NumberPoints))
                                }
                            </td>
                        </tr>
                    }
                    <tr>
                        <td class="table-border-center-td" style="@msoTextFormat">
                            1341000000000 00
                        </td>
                        <td class="table-border-center-td">
                            INTERESES POR MORA EN IMPUESTOS
                        </td>
                        <td class="table-border-center-td" style='@msoNumberFormat'>
                            @Html.Raw(0.ToString(Common.NumberPoints))
                        </td>
                        <td class="table-border-center-td" style='@msoNumberFormat'>
                            @Html.Raw((Model.DailyIncomeProduceBankList.Where(d => d.Code1 == "1121010000000" || d.Code1 == "1133010200000").Sum(d => d.Interest) ?? 0).ToString(Common.NumberPoints))
                        </td>
                        <td class="table-border-center-td" style='@msoNumberFormat'>@Html.Raw(0.ToString(Common.NumberPoints))</td>
                        <td class="table-border-center-td" style='@msoNumberFormat'>@Html.Raw(0.ToString(Common.NumberPoints))</td>
                    </tr>
                    <tr>
                        <td class="table-bold-right-td" colspan="2" style="@msoTextFormat">
                            @Html.Raw(ReportResource.TotalCode + ": 1341000000000")
                        </td>
                        <td class="table-bold-center-td" style='@msoNumberFormat'>
                            @Html.Raw(0.ToString(Common.NumberPoints))
                        </td>
                        <td class="table-bold-center-td" style='@msoNumberFormat'>
                            @Html.Raw((Model.DailyIncomeProduceBankList.Where(d => d.Code1 == "1121010000000" || d.Code1 == "1133010200000").Sum(d => d.Interest) ?? 0).ToString(Common.NumberPoints))
                        </td>
                        <td class="table-bold-center-td" style='@msoNumberFormat'>
                            @Html.Raw(0.ToString(Common.NumberPoints))
                        </td>
                        <td class="table-bold-center-td" style='@msoNumberFormat'>
                            @Html.Raw(0.ToString(Common.NumberPoints))
                        </td>
                    </tr>
                    <tr>
                        <td class="table-border-center-td" style="@msoTextFormat">
                            1342000000000 00
                        </td>
                        <td class="table-border-center-td">
                            INTERESES POR MORA EN SERVICIOS
                        </td>
                        <td class="table-border-center-td" style='@msoNumberFormat'>
                            @Html.Raw(0.ToString(Common.NumberPoints))
                        </td>
                        <td class="table-border-center-td" style='@msoNumberFormat'>
                            @Html.Raw((Model.DailyIncomeProduceBankList.Where(d => d.Code1 != "1121010000000" && d.Code1 != "1133010200000").Sum(d => d.Interest) ?? 0).ToString(Common.NumberPoints))
                        </td>
                        <td class="table-border-center-td" style='@msoNumberFormat'>@Html.Raw(0.ToString(Common.NumberPoints))</td>
                        <td class="table-border-center-td" style='@msoNumberFormat'>@Html.Raw(0.ToString(Common.NumberPoints))</td>
                    </tr>
                    <tr>
                        <td class="table-bold-right-td" colspan="2" style="@msoTextFormat">
                            @Html.Raw(ReportResource.TotalCode + ": 1342000000000")
                        </td>
                        <td class="table-bold-center-td" style='@msoNumberFormat'>
                            @Html.Raw(0.ToString(Common.NumberPoints))
                        </td>
                        <td class="table-bold-center-td" style='@msoNumberFormat'>
                            @Html.Raw((Model.DailyIncomeProduceBankList.Where(d => d.Code1 != "1121010000000" && d.Code1 != "1133010200000").Sum(d => d.Interest) ?? 0).ToString(Common.NumberPoints))
                        </td>
                        <td class="table-bold-center-td" style='@msoNumberFormat'>
                            @Html.Raw(0.ToString(Common.NumberPoints))
                        </td>
                        <td class="table-bold-center-td" style='@msoNumberFormat'>
                            @Html.Raw(0.ToString(Common.NumberPoints))
                        </td>
                    </tr>
                    <tr>
                        <td class="table-border-center-td" colspan="4">
                            @ReportResource.TotalPrincipal
                        </td>
                        <td class="table-border-center-td" style='@msoNumberFormat'>
                            @{
                                decimal principalTotal =
                                                  (
                                                    (Model.DailyIncomeProduceBankList.Where(x => x.Code1 + x.Code2 == "131105000000007").Sum(x => x.Payment) ?? 0)
                                                            +
                                                    (Model.DailyIncomeProduceBankList.Where(x => x.Code1 + x.Code2 != "131105000000007" && x.Code1 == "1311050000000").Sum(x => x.Charges) ?? 0)
                                                  )
                                                    +
                                                  (
                                                    Model.DailyIncomeProduceBankList.Where(x => x.Code1 + x.Code2 != "131105000000007").Sum(x => x.Payment - x.Interest - x.Charges) ?? 0
                                                  );
                            }

                            @Html.Raw(principalTotal.ToString(Common.NumberPoints))

                        </td>
                        <td class="table-border-center-td"></td>
                    </tr>
                    <tr>
                        <td class="table-border-center-td" colspan="4">
                            @ReportResource.TotalDailyInterest
                        </td>
                        <td class="table-border-center-td" style='@msoNumberFormat'>
                            @Html.Raw((Model.DailyIncomeProduceBankList.Sum(x => x.Interest) ?? 0).ToString(Common.NumberPoints))
                        </td>
                        <td class="table-border-center-td"></td>
                    </tr>
                    <tr>
                        <td class="table-border-center-td" colspan="4">
                            @ReportResource.TotalDailyIncome
                        </td>
                        <td class="table-border-center-td" style='@msoNumberFormat'>
                            @Html.Raw((Model.DailyIncomeProduceBankList.Sum(x => x.Payment) ?? 0).ToString(Common.NumberPoints))
                        </td>
                        <td class="table-border-center-td"></td>
                    </tr>

                }
                else
                {
                    <tr>
                        <td colspan="6" class="table-border-td center">
                            <center>
                                <label> @GlobalResource.NoDataMessage </label>
                            </center>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>